@charset "UTF-8";

.controller span,.controller a{display:inline-block;overflow:hidden;font-size:1px;line-height:999px;background:url(../img/sp.png) no-repeat}

.ng-hide:not(.ng-hide-animate) {display:none !important}


/* 3depth 5개 항목 */
.depth3{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;overflow:hidden;position:relative;width:1120px;margin:0 auto;border:1px solid #ecedf2;background:#fff}
.depth3 li{width:20%;border-right:1px solid #ecedf2;box-sizing:border-box}
.depth3 li:nth-child(5n){border-right:0}
.depth3 li:nth-child(5n+1)::before{position:absolute;left:0;right:0;height:1px;background:#ecedf2;content:'';}
.depth3 li:nth-child(5n+1):first-child::before{display:none}
.depth3 li a{display:block;height:40px;font-size:14px;font-weight:500;line-height:40px;text-align:center;color:#242428}
.depth3 li.on a{background:#242428;color:#fff}

/* location path */
.location_path{padding-top:20px;line-height: 31px;font-size: 14px;}

/* 서브메인 */
.common_container.submain_front{background: #f8f9fa;}
.submain_front .top_area{padding:20px 0 39px}
.submain_front .top_area .submain_goods{overflow:hidden;border-radius:2px}
.submain_front .top_area .submain_goods li{float:left;position:relative}
.submain_front .top_area .submain_goods li:first-child{margin-right:1px}
.submain_front .top_area .submain_goods li.last{margin-top:1px}
.submain_front .top_area .submain_goods li a{display:block;font-size:0}
@media screen and (-webkit-min-device-pixel-ratio:0){
  /* safari only */
  ::i-block-chrome,.submain_front .top_area .submain_goods li:first-child img{border-radius:2px 0 0 2px}
  ::i-block-chrome,.submain_front .top_area .submain_goods li.second img{border-radius:0 2px 0 0}
  ::i-block-chrome,.submain_front .top_area .submain_goods li.last img{border-radius:0 0 2px 0}
}

.submain_front .top_area .submain_ad{margin-top:20px;overflow:hidden;border:1px solid #ecedf2;border-radius:2px}
.submain_front .top_area .submain_ad li{float:left;border-left:1px solid #ecedf2;height:108px}
.submain_front .top_area .submain_ad li:first-child{border:0;width:670px;overflow:hidden;position:relative;border-radius:2px 0 0 2px}

.submain_front .bottom_area{background:#dadad9/*;padding:50px 0 0;margin:-263px 0 -60px*/}
.submain_front .inner+.bottom_area{margin:-263px 0 -60px}
.submain_front .bottom_area h3{height:24px;margin:40px 0 16px}

.bottom_area .inner{padding-top:0 !important}

/* 상품상세 */
.detail_box_top{min-height:530px;padding:36px 29px 30px;margin-bottom:10px;border:1px solid #ecedf2;border-radius:2px;background:#fff;zoom:1}
.detail_box_top:after{display:block;clear:both;content:''}
.detail_box_top span.num{font-family:'Roboto',-apple-system,BlinkMacSystemFont,Apple SD Gothic Neo,'Malgun Gothic',Arial,sans-serif;font-weight:700;color:#fa2828}

.detail_box_bot:after{clear:both;display:block;content:''}
.detail_box_bot .detailbox_bot_left{float:left;width:817px;margin-right:20px;border-radius:2px;background:#fff}

.detail_box_bot .detailbox_bot_right{float:right;overflow:hidden;padding:19px 57px;background:#fff;border:1px solid #ecedf2;border-radius:2px;text-align:center}
.detail_box_bot .detailbox_bot_right strong{display:block;margin-bottom:19px;font-size:18px;text-align:center;line-height:18px}
.detail_box_bot .detailbox_bot_right li{text-align:left;font-size:14px}
.detail_box_bot .detailbox_bot_right li .thum{margin-bottom:10px}
.detail_box_bot .detailbox_bot_right li .title{width:166px;margin-bottom:5px;color:#242428;font-weight:700;line-height:17px}
.detail_box_bot .detailbox_bot_right li .date{display:block;margin-bottom:18px;color:#62676c;font-family:'Roboto',-apple-system,BlinkMacSystemFont,Apple SD Gothic Neo,'Malgun Gothic',Arial,sans-serif; }

.star_review{background:#f5f6f9;padding:19px 20px 21px}
.star_average{float:right;margin-top:9px}
.star_average dl{overflow:hidden}
.star_average dt,.star_average dd{float:left;font-size:12px;letter-spacing:-1px;color:#242428}
.star_average dt{margin-right:2px}
.star_average dd.bar{color:#878d95;padding:0 15px 0 11px}
.star_average dd.person{font-weight:bold}
.write_review{clear:both;height:70px;overflow:hidden;padding-top:9px}
.write_review textarea{border:1px solid #e8eaf1;width:528px;height:45px;height:44px;padding:16px 18px 7px;line-height:18px;overflow-y:auto;color:#878d95}
.write_review .btn{width:84px;padding:25px 0;border-radius:0;color:#fff;font-size:14px;font-weight:500;text-align:center;line-height:18px}

.star_review.inquire{padding:20px 23px 20px 20px}
.star_review.inquire .write_review{display:flex;display:-webkit-box;justify-content:flex-start;align-items:center;padding-top:0}

.review_list{border-width:2px 0 1px;border-style:solid;border-color:#cfd0d7}
.review_list li{border-top:1px solid #ecedf2;padding:22px 0 25px;line-height:18px}
.review_list li:first-child{border:0}
.review_list li.no_data{height:153px;line-height:153px;text-align:center}
.review_list li .review_info{margin:-1px 0 7px -2px;overflow:hidden}
.review_list li .review_info:after{display:block;clear:both;content:''}
.review_list li .review_info .star_average{float:none}
.review_list li .review_info .star_average dt{display:block;visibility:hidden;overflow:hidden;position:absolute;top:-1000em;left:0}
.review_list li .review_info .star_average dd{height:12px;line-height:12px;padding-right:8px;letter-spacing:0;vertical-align:top}
.review_list li .review_info .star_average dd.review_user{font-size:12px;font-weight:700;color:#242428}
.review_list li .review_info .star_average dd.review_date{color:#878d95;font-family:'Roboto',-apple-system,BlinkMacSystemFont,Apple SD Gothic Neo,'Malgun Gothic',Arial,sans-serif;letter-spacing: -0.4px;}
.review_list li .review_info .star_average dd.review_delete{height:15px;margin-top:-5px}
.review_list .review_info a.delete{width:18px;height:18px;vertical-align:top;position: relative;border: 1px solid #dcdde1;box-sizing: border-box;text-indent: -9999px;display: inline-block;font-size: 0;}
.review_list .review_info a.delete::before{content: '';position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);}


/* 이벤트 / 쿠폰 */
/* 이벤트리스트 */
.event_cont .event_area_title{margin-bottom:20px;color:#242428;font-size:26px;font-weight:500;line-height:26px;letter-spacing:-0.5px}
.evt_tit{margin-bottom: 20px;font-size: 26px;color: #242428;line-height: 26px;letter-spacing: -0.5px;font-weight: 500;}
.evt_tit2{background-position:-165px -104px;width:90px;height:19px}
.evt_tit4{font-size: 26px;font-weight: 500;}

.event_top_list li .event_top_info dt, .event_list_inner li dt, .evt_detail dt{overflow:hidden;display:block;visibility:hidden;position:absolute;top:-1000em;left:0}

.event_cont{background: #f8f9fa;}
.event_top_list{margin-bottom:37px;display: flex;display: -webkit-box;width: 100%;justify-content: space-between;}
.event_top_list li{width:356px;margin-left:26px;border-radius:2px;box-shadow: 0px 1px 2px rgb(0 0 0 / 15%);box-sizing: border-box;}
.event_top_list li:first-child{margin-left:0}
.event_top_list li a{display:block;background:url(../img/img_defalt_evt.jpg) no-repeat 0 0;height:568px;position:relative}
.event_top_list li .event_top_info{background:#fff;padding:19px 21px 24px;display: block;box-sizing: border-box; height:148px;width: 100%;position: absolute;left: 0;right: 0;bottom: 0;}
.event_top_list li .event_top_info dd{color:#878d95;line-height:20px}
.event_top_list li .event_top_info .event_title{overflow:hidden;width:100%;font-size:16px;font-weight:700;letter-spacing:-1px;color:#242428;margin:0 0 5px 0;line-height:20px;max-height:40px;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.event_top_list li .event_top_info .event_title span{color:#fa2828;margin-right:5px}
.event_top_list li .event_top_info .event_title .point{color:#fa2828;margin-right:5px}
.event_top_list li .event_top_info .event_date{font-size:13px;margin-top:8px;font-family:'Roboto',-apple-system,BlinkMacSystemFont,Apple SD Gothic Neo,'Malgun Gothic',Arial,sans-serif; }

.event_cont_box{overflow:hidden;min-height:242px;padding:35px 30px 101px;border:1px solid #ecedf2;border-radius:2px;background:#fff;}
.event_cont_box_v2{position:relative;padding:31px 30px}
.event_cont_box.nodata .event_list_inner, .event_cont_box.nodata .paging, .event_cont_box .nodata_txt{display:none}
.event_cont_box.nodata .nodata_txt{display:block;text-align:center;padding-top:147px;font-size: 14px;color: #62676c;}

.event_cont_box ul{overflow:hidden;margin-left:-20px}
.event_cont_box ul:after{display:block;clear:both;content:''}
.event_cont_box li{float:left;width:324px;margin:0 0 30px 20px;padding-left:130px;position:relative;min-height:134px}
.event_cont_box li dd{color:#62676c;line-height:18px;font-size:12px}
.event_cont_box li .thumb{position:absolute;left:0;top:0}
.event_cont_box li .event_title{width:100%;font-size:16px;line-height:24px;font-weight:bold;color:#242428;margin:9px 0 5px -3px}
.event_cont_box li .event_title span{color:#fa2828;margin-right:5px}
.event_cont_box li .event_title .point{color:#fa2828;margin-right:5px}
.event_cont_box li .event_date{font-family:'Roboto',-apple-system,BlinkMacSystemFont,Apple SD Gothic Neo,'Malgun Gothic',Arial,sans-serif; ;font-size:14px;line-height:20px;margin-top:5px}

.event_cont_box .review_list ul{margin:0}
.event_cont_box .review_list ul li{float:none;width:100%;min-height:auto;margin:0;padding:30px 10px 31px;font-size:12px;line-height:18px;box-sizing:border-box}
.event_cont_box .review_list ul li pre{white-space:pre-wrap}
.event_cont_box .review_list ul li.no_data{margin:0;padding:0;font-size:14px;color:#62676c;line-height:153px}
.event_cont_box .review_list ul li .review_info{overflow:visible;margin:0 0 7px 0}
.event_cont_box .review_list ul li .review_info .star_average{margin:0}

.event_cont_box .event_list{width:994px;margin:0}
.event_cont_box .event_list:after{display:block;clear:both;content:''}
.event_cont_box .event_item{float:left;width:465px;margin:0 0 30px 0;padding:0}
.event_cont_box .event_item:nth-of-type(odd){margin-right: 64px;}
.event_cont_box .event_item_link{display:block;font-size:0}
.event_cont_box .event_img_area{display:inline-block;width:110px;vertical-align:middle}
.event_cont_box .event_img_area img{width:100%}
.event_cont_box .event_info_area{display:inline-block;width:353px;padding:0 60px 0 17px;vertical-align:middle;box-sizing:border-box}
.event_cont_box .event_info_area .event_title{width:100%;font-size:16px;line-height:24px;font-weight: 500;color:#242428;margin:0}
.event_cont_box .event_info_area .event_title .point{color:#fa2828;margin-right:5px;font-weight: 700;}
.event_cont_box .event_info_area .event_date{font-family:'Roboto',-apple-system,BlinkMacSystemFont,Apple SD Gothic Neo,'Malgun Gothic',Arial,sans-serif; ;font-size:14px;line-height:20px;margin-top:10px}

.event_cont_box .write_review{height:70px}
.event_cont_box .write_review textarea{display:block;width:931px;height:70px;padding:25px 27px;border-radius:0;box-sizing:border-box;resize:none;;color:#242428}
.event_cont_box .write_review textarea::placeholder{font-size: 14px;color:#878d95;}
.event_cont_box .star_review+.list_btn{margin:23px 0 10px}
.event_cont_box+.list_btn{margin:30px 0;height: 42px;}
.event_cont_box .star_review+.list_btn > .fl{font-weight: 400;font-size: 14px;line-height: 28px;margin-top: 0;}
.event_cont_box .star_review+.list_btn > .fl .fbold{font-weight: 700;}
.event_cont_box .star_review+.list_btn > .fr{font-size: 14px;line-height: 28px;}
.event_cont_box .star_review+.list_btn > .fr .btn_text2{margin-top: 0;}
.evt_detail .evt_title{font-weight: 700;line-height: 25px;font-size:20px;color:#242428;width:840px;margin-bottom: 1px;}
.evt_detail .evt_title span{color:#fa2828;margin-right:5px}
.evt_detail .evt_date{font-family:'Roboto',-apple-system,BlinkMacSystemFont,Apple SD Gothic Neo,'Malgun Gothic',Arial,sans-serif; font-size: 14px;line-height: 18px;color: #62676c;letter-spacing: -0.4px;}
.evt_detail .evt_cont{margin-top:35px}
.evt_detail+.social{top:10px;right:30px}

.event_cont .list_view .list_cont{min-height:403px !important}
.common_container.event_cont .inner{padding-top: 0;}

/** 고객센터 **/
.help_rcont .btn_view,.help_rcont .basic_tbl tbody td .num,.help_rcont .num_lst .num,.help_rcont .help_info .ico_help,.info_mobile_rsrv h5 span,.info_mobile_rsrv h5 strong,.info_mobile_rsrv.noti h5{display:inline-block;overflow:hidden;font-size:1px;line-height:999px !important;background:url(../img/sp_help.png) no-repeat}
a.btn_partner, .help_rcont .partner_step.v2 dl{display:inline-block;overflow:hidden;font-size:1px;line-height:999px !important;background:url(../img/sp_help_img.png) no-repeat}

/* 고객센터 quick menu */
.common_container.cs_center{background: #f8f9fa;}
.quick_menu{display:flex;align-items:center;overflow:hidden;height:135px;margin-bottom:10px;background:#fff;border:1px solid #242428;border-radius:2px;box-sizing:border-box}
.quick_menu .title{flex:none;width:257px;height:135px;background:#242428;text-align:center;box-sizing:border-box}
.quick_menu .title::before{display:inline-block;height:100%;vertical-align:middle;content:''}
.quick_menu h2{display:inline-block;font-size:26px;line-height:38px;color:#fff;vertical-align:middle}
.quick_menu ul{width:100%;font-size:0;text-align:center}
.quick_menu li{display:inline-block;width:118px;height:79px;border-left:1px dashed #cfd0d7;text-align:center;box-sizing:border-box}
.quick_menu li:first-child{border:none}
.quick_menu li a{display:block;position:relative;height:80px;padding-top:50px;text-align:center;color:#878d95;font-size:13px;line-height:15px;box-sizing:border-box}
.quick_menu li a::before{display:inline-block;position:absolute;top:0;left:50%;transform:translateX(-50%);content: ''}

/* 고객센터 cont layout */
.help_cont{position:relative;border:1px solid #ecedf2;background:#fff;width:1120px;border-radius:2px;box-sizing:border-box}
.help_cont::before{position:absolute;top:0;bottom:0;left:256px;width:1px;background:#ecedf2;content:''}
.help_cont:after{clear:both;display:block;content:''}
.help_lmenu{float:left;width:255px;padding-top:15px;}
.help_rcont{float:left;width:862px;padding:38px 59px 100px 60px;box-sizing:border-box}
.help_rcont:after{display:block;clear:both;content:''}

/* 고객센터 좌측메뉴 */
.help_lmenu li{padding:20px 18px 20px 26px;border-bottom:1px solid #ecedf2;position: relative;box-sizing:border-box}
.help_lmenu li a{display:block;position:relative;color:#242428;font-size:16px;font-weight:700;line-height:24px}
.help_lmenu li.on a{color:#fa2828}
.help_lmenu li.on a::after{position:absolute;top:50%;right:0;transform: translateY(-50%);content: ''}
.help_lmenu li.has_sub .help_submenu_tit{font-family:'Pretendard-Bold';display:block;font-size:16px;font-weight:700;line-height:24px}
.help_lmenu li.has_sub li{margin-top:8px;border:none;padding:0}
.help_lmenu li.has_sub li a{display:block;font-size:13px;;font-weight:500;line-height:18px;color:#878d95}
.help_lmenu li.has_sub li.on a{font-family:'Pretendard-Regular';color:#fa2828;position: relative;}
/* .help_lmenu li.has_sub li.on a::after{content: '';position: absolute;display: block;width: auto;height: auto;top: 50%;right: 0;transform: translateY(-50%);} */
.help_lmenu li.has_sub li.on a::after{width: 16px;height: 16px;background-image: url(../../images/icon/arrow-right.svg);background-repeat: no-repeat}

/* 고객센터 메인 */
.help_rcont .search_help{background:#ecedf2;height:72px;margin-bottom:10px;font-size:0}
.help_rcont .search_help fieldset{height:36px;text-align:center;padding-top:18px}
.help_rcont .search_help label{margin-right:8px;font-size:14px;line-height:18px;color:#242428;vertical-align:middle}
.help_rcont .search_help input[type=text]{width:293px;height:36px;padding:0 20px;border:0;background:#fff;font-size:14px;line-height:36px;color:#242428;box-sizing:border-box}
.help_rcont .search_help input[type=text]::placeholder{color: #a7acb6;}
.help_rcont .search_help .btn_search{position:relative;display:inline-block;width:39px;height:36px;background:#242428;vertical-align:middle}
.help_rcont .search_help .btn_search::before{position:absolute;top:6px;left:7px;content:''}
.help_rcont .search_help .btn_search:hover{background:#000}
.help_rcont .search_help .btn_full{min-width:90px;margin-left:5px;padding:6px 11px}
.help_rcont .search_help .btn_search+.btn_full{min-width:94px;margin-left:8px}
.help_rcont .search_help.v2{margin-bottom:30px;height:auto}
.help_rcont .search_help.v2 fieldset{padding:40px 60px;height:auto;text-align:left}
.help_rcont .search_help.v2 .selectbox{float:left;width:224px;border:0}
.help_rcont .search_help.v2 input,.help_rcont .search_help.v2 a.btn{float:left;margin-left:5px}
.help_rcont .search_help.v2 a.inquire{background-position:-455px -601px}
.help_rcont .search_help.v2 .sch_word{clear:both;min-height:17px;color:#fff;font-size:12px;letter-spacing:-1px;padding:13px 0 0 230px}
.help_rcont .search_help.v2 .sch_word strong{font-weight:normal;background:#62676c;padding:0 5px;display:inline-block;height:17px;line-height:17px}
.help_rcont .search_help.v2 .sch_word a{color:#fff;padding:0 8px}
.help_rcont .search_help.v2 .sch_word span{height:7px;width:1px;background:#a2a2a2;display:inline-block;vertical-align:middle}
.help_rcont .search_help.faq_search{padding: 43px 61px;box-sizing: border-box;height: 122px;}
.help_rcont .search_help.faq_search fieldset{padding-top: 0;height: auto;}
.help_rcont .search_help .selectbox_wrap{display: flex;align-items: center;justify-content: center;height: 36px;}
.help_rcont .search_help .selectbox{width: 224px;background: #fff;height: 36px;text-align: left;border-color: #fff;margin-right: 5px;}
.help_rcont .search_help .selectbox a{margin-left:0;font-size:14px;font-weight:400;line-height:16px;line-height:36px}
.help_rcont .help_link{overflow:hidden;margin:40px 0 0;display: flex;flex-wrap: wrap;justify-content: space-between;}
.help_rcont .box_banner + .help_link{margin-top:10px}
.help_rcont .help_link li{margin:0 2px 2px 0}
.help_rcont .help_link li:nth-child(3n){margin: 0 0 2px 0}
.help_rcont .help_link .help_box{display:block;position:relative;padding:20px;width:245px;height:160px;background:#f5f6f9;box-sizing:border-box}
.help_rcont .help_link .help_box::after{position:absolute;bottom:20px;right:20px;content:''}
.help_rcont .help_link .link_title{display:inline-block;position:relative;padding-right:19px;font-size:18px;line-height:26px;color:#242428}
.help_rcont .help_link .link_title::after{position:absolute;top:6px;right:0;content:'';}
.help_rcont .help_link .link_text{display:block;margin-top:26px;padding-right:80px;font-size:13px;line-height:18px;color:#878d95}
.help_rcont .help_link .desc_title{display:block;font-size:14px;line-height:26px;color:#242428}
.help_rcont .help_link .desc_text{display:block;margin-top:20px;padding-right:80px;line-height:0}
.help_rcont .help_link .desc_phone{font-size:26px;font-weight:700;line-height:38px;color:#242428;letter-spacing:-0.04em;}
.help_rcont .help_link .desc_time{display:block;margin-top:-3px;font-size:13px;line-height:18px;color:#878d95}


.help_rcont .helpmain_list{overflow:hidden;margin-top:50px}
.help_rcont .helpmain_list strong{margin-bottom:10px;display: block;color:#242428;font-size: 16px;line-height: 16px; font-weight: 700;}
.help_rcont .helpmain_list ul{border-top:2px solid #cfd0d7}
.help_rcont .helpmain_list li{width:100%;border-bottom:1px solid #ecedf2;}
.help_rcont .helpmain_list li a{color:#242428;display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overow:ellipsis;font-size: 14px;line-height: 20px;padding: 8px 0 7px;}
.help_rcont .helpmain_list li a:hover{text-decoration:underline}
.help_rcont .helpmain_list .helpmain_question{float:left;width:351px;margin-right:40px}
.help_rcont .helpmain_list .helpmain_notice{float:left;width:351px}


.point_number{font-family:'Pretendard-Bold;';font-weight:700;text-decoration:underline}


.notes{background:#f8f9fa;text-align:center;padding:12px 0;margin-top:50px}
.notes p{color:#62676c;font-size:12px;letter-spacing:-1px;min-height:18px;line-height:20px}
.notes p span{display:inline-block;vertical-align:bottom}
.notes p a{color:#fa2828;text-decoration:underline}
.notes2{margin-top:25px;padding:25px 22px 20px;background:#f8f9fa;line-height:20px}
.notes2.notes2_top{margin-top: 50px;;}
.notes2 h6{position:relative;height:24px;padding-left:23px;color:#62676c;font-size:14px;font-weight:700;line-height:24px}
.notes2 h6 span{position:absolute;left:0;top:5px;width:18px;min-height:18px}
.notes2 ol {padding-left:23px}
.notes2 ol li{position:relative;padding-left:6px;color:#878d95;font-size:13px;line-height:22px;letter-spacing:-1px}
.notes2:not(.v2) ol li::before{position:absolute;left:0;top:10px;width:2px;height:2px;background:#878d95;content:''}
.notes2 ol li a{margin-left:7px;color:#fa2828;text-decoration:underline}
.notes2 ol li a span{width:3px;height:5px;margin:-1px 0 0 4px;background-position:-361px -32px;vertical-align:middle}
.notes2 p a{color:#fa2828;text-decoration:underline}
.notes2 li li{padding:0;background:none}
.notes2.v2{position:relative}
.notes2.v2 ol {padding-left:23px}
.notes2.v2 ol li{padding-left:0;background:none;color:#62676c}
.notes2.v2 ol li strong{font-weight: 400;}
.notes2.v2 ol li ol{padding-left:23px}
.notes2.v2 ol li ol li{position:relative;padding-left:6px;color:#878d95;font-size:12px;letter-spacing:-1px;}
.notes2.v2 ol li ol li::before{position:absolute;left:0;top:10px;width:2px;height:2px;background:#878d95;content: ''}
.notes2.v2 .layer{width:400px;bottom:40px;left:265px}

/* 고객센터 - 1:1상담 */
.htab_common + iframe{margin-top:27px}

.guide_txt{position:relative;font-size:13px;letter-spacing:-0.5px;line-height:20px;color:#878d95;margin:27px 0 30px}
.guide_txt a{color:#fa2828;text-decoration:underline}
.guide_txt.v2{font-size:12px;text-align:right;margin: 0 0 10px;}


/* 고객센터 - 예매안내 */
.help_rcont h3.info_member{height:24px;margin-bottom:16px}
.member_category{overflow:hidden}
.member_category li{float:left;height:48px}
.member_category li a.n_category1{width:248px;height:48px;background-position:0 -220px}
.member_category li a.n_category2{width:248px;height:48px;background-position:-248px -1103px}
.member_category li a.n_category3{width:247px;height:48px;background-position:-495px -220px}
.member_category li.on a.n_category1{width:247px;background-position:0 -275px}
.member_category li.on a.n_category2{width:248px;margin-left:-1px;background-position:-247px -1156px}
.member_category li.on a.n_category3{width:247px;margin-left:-1px;background-position:-494px -275px}
.info_memlist_block{margin-top:28px;font-size:14px}
.info_memlist_block strong{font-size:16px;line-height:22px;letter-spacing:-1px;color:#242428;font-weight: 700;}
.info_memlist_block p{line-height:22px;font-size: 14px;;}
.info_memlist_block a{color:#fa2828;text-decoration:underline;line-height:24px}
.info_memlist_block a:hover{text-decoration: underline;}
.info_memlist_block .btn_full{color:#fff;text-decoration:none}
.info_memlist_block .btn_full:hover{text-decoration:none}
.info_memlist_block .guide_txt_v3{font-size:12px}
.help_rcont .dotline{padding-bottom:24px;border-bottom: 1px dashed #ecedf2;}
.help_rcont .wait_dotline{padding-bottom:36px;border-bottom:1px dashed #ecedf2}
.info_memlist_block .fs11{letter-spacing:-1px;color:#878d95}
.info_memlist_block .desc{margin-top:10px;font-size:13px;color:#878d95;letter-spacing:-1px;line-height:20px}
.info_memlist_block .basic_tbl{margin-top:25px;border-bottom:1px solid #ecedf2}
.info_memlist_block .basic_tbl table tbody td{border-bottom:0;border-top:1px solid #ecedf2;color:#242428;white-space:nowrap}

/*.info_memlist_block .basic_tbl table tbody tr:first-child td{border:0}*/
.info_memlist_block .basic_tbl .tindent11{padding-left:11px}
.info_memlist_block .basic_tbl .tindent11 li{line-height:20px}
.info_memlist_block .basic_tbl .tindent8{padding-left:8px}
.info_memlist_block .basic_tbl .tindent8 li{font-size:13px;line-height:22px}
.info_memlist_block .sub_tit{display:block}

.reserve_step{overflow:hidden}
.reserve_step > li{padding:26px 0 28px;border-top:1px dashed #ecedf2}
.reserve_step > li:first-child{padding-top:0;border:0}
.reserve_step > li .bx_left{float:left;width:163px;padding-top:4px;box-sizing:border-box}
.reserve_step > li .bx_right{overflow:hidden}
.reserve_step > li:after{display:block;clear:both;content:''}
.reserve_step .step_num{display:block;color:#fa2828;font-size:11px;font-weight:700;line-height:18px;}
.reserve_step .step_title{color:#242428;font-size:14px;font-weight:700;line-height:15px}
.reserve_step .bx_right p{font-size:14px;line-height:20px}
.reserve_step .bx_right .dsc_list + p{margin-top:14px}
.reserve_step .bx_right .first_notice{display:block;position:relative;margin-top:15px;padding-left:22px;font-weight:bold;font-size:12px;color:#62676c}
.reserve_step .bx_right .first_notice:before{position:absolute;top:0;left:0;width:18px;height:18px;content:''}
.reserve_step .first_notice + .dsc_list{margin-top:11px}
.reserve_step .dsc_list{margin-top:4px}
.reserve_step .dsc_list li{position:relative;padding-left:5px;font-size:12px;color:#878d95;letter-spacing:-1px}
.reserve_step .dsc_list li + li{margin-top:7px}
.reserve_step .dsc_list li:before{position:absolute;top:9px;left:0;width:2px;height:2px;background:#878d95;content:'';border-radius: 50%;}
.reserve_guide .step{margin-top:63px}
.reserve_guide .step li+li{margin-top:68px}
.reserve_guide .step li .dsc{padding-bottom:18px;border-bottom:2px solid #cfd0d7;line-height:normal}
.reserve_guide .step li .dsc2{margin-bottom:18px;font-size:14px;line-height:20px;letter-spacing:-1px}
.reserve_guide .step img{display:block}
.reserve_guide .step .bx_img{margin-top:35px}
.reserve_guide .step .bx_img + .bx_img{margin-top:68px}
.reserve_guide .step .dsc{font-size:16px;font-weight:700;line-height:16px}
.reserve_guide .step .dsc .payco{display:inline-block;overflow:hidden;margin:-3px 3px 0 7px;font-size:1px;line-height:999px;vertical-align:middle;content:''}
.reserve_guide .bx_img > ul:after{display:block;clear:both;content:''}
.reserve_guide .bx_img > ul > li{float:left;margin-top:0}
.reserve_guide .bx_img > ul > li:first-child{width:319px;margin-right:36px}
.reserve_guide .bx_img > ul > .last{width:387px}
.reserve_guide .bx_img > ul > .last .dsc2{text-indent:65px}
.reserve_guide .step .dsc2 strong{display:block;margin-bottom:3px;font-size:16px;color:#242428;line-height:22px}
.reserve_guide .fifth .bx_img,.reserve_guide .sixth .bx_img{position:relative}
.reserve_guide .step .bx_img > a{position:absolute;width:161px;height:28px;font-size:0}
.reserve_guide .fifth .bx_img .btn_guide{top:291px;left:542px}
.reserve_guide .fifth .bx_img .btn_regi{top:325px;left:542px}
.reserve_guide .sixth .bx_img .btn_guide{top:638px;left:82px}
.reserve_guide .sixth .bx_img .btn_regi{top:672px;left:82px}
.reserve_guide .btn_full{padding:4px 11px;font-size:13px;font-weight:400;line-height:18px;vertical-align:top}
.reserve_guide .guide_faq{margin-top:108px;font-size:16px;font-weight:bold;color:#242428;line-height:28px}
.reserve_guide .guide_faq .btn_full{margin-left:7px}
.guide_txt_v3{margin-bottom:31px;padding-bottom:10px;border-bottom:2px solid #cfd0d7;font-size:12px;color:#242428;line-height:20px;letter-spacing:0;margin-top: 20px;}

/** 마이페이지 --------------------------------------- **/
/* 마이페이지 공통 */
/* .refund_table .refund_history .refund_tit,.mypage .quick_menu h2,.mypage .quick_menu li.qmenu3 a span,.mypage .quick_menu li.qmenu4 a span,.mypage .quick_menu li.qmenu5 a span, .mypage h5 span,.mberguide dt,.mberoutbx dt,.bg_green .ico{display:inline-block;overflow:hidden;font-size:1px;line-height:999px !important;background:url(../img/sp_mypage.png) no-repeat} */
.mypage.common_container {background: #f8f9fa;}
.mypage .bx_tit{margin-bottom:37px}
.mypage .bx_table .tit{display:block;height:16px;margin-bottom:8px;background-image:url(../img/sp_mypage.png);background-repeat:no-repeat;font-size:0}
/* 마이페이지 - quick menu */
.mypage .quick_menu h2{background-position:-72px -198px;width:120px;height:28px}
.mypage .quick_menu ul{overflow:hidden;float:left;width:743px;margin:44px 0 0 39px}
.mypage .quick_menu li{width:auto;height:44px;padding:4px 28px 4px 37px;text-align:left}
.mypage .quick_menu li:first-child{background:none;padding-left:0}
.mypage .quick_menu li.qmenu5{padding-right:0}
.mypage .quick_menu li a{display:block;height:19px;background:url(../img/sp_mypage.png) no-repeat;padding:25px 0 0 51px;font-family:'Roboto',-apple-system,BlinkMacSystemFont,Apple SD Gothic Neo,'Malgun Gothic',Arial,sans-serif; ;font-size:20px;font-weight:bold;color:#fa2828;letter-spacing:0}
.mypage .quick_menu li a:hover{text-decoration:underline}
.mypage .quick_menu li.qmenu1{background:none;padding-left:0}
.mypage .quick_menu li.qmenu1 a{width:97px;background-position:-286px -213px}
.mypage .quick_menu li.qmenu2 a{width:90px;background-position:-286px -263px}
.mypage .quick_menu li.qmenu3 a{width:76px;background-position:-286px -313px}
.mypage .quick_menu li.qmenu4 a{width:76px;background-position:-440px -313px}
.mypage .quick_menu li.qmenu5 a{width:90px;background-position:-590px -313px}
.mypage .quick_menu li.qmenu3 a span{width:56px;height:15px;background-position:-484px -428px}
.mypage .quick_menu li.qmenu4 a span{width:36px;height:17px;background-position:-704px -251px}
.mypage .quick_menu li.qmenu4 a:hover span{background-position:-704px -269px}
.mypage .quick_menu li.qmenu5 a span{width:36px;height:17px;background-position:-704px -376px}
.mypage .quick_menu li.qmenu5 a:hover span{background-position:-704px -394px}

/* 마이페이지 - new quick menu(텍스트화) */
.mypage .quick_menu_wrap{height:135px;margin-bottom:10px;border:1px solid #242428;border-radius:2px;background:#fff;box-sizing:border-box}
.mypage .quick_menu_wrap:after{clear:both;display:block;content:''}
.mypage .quick_menu_wrap .title{float:left;width:257px;height:100%;background:#242428;text-align:center;padding-top:48px;box-sizing:border-box}
.mypage .quick_menu_wrap .title .title_txt{overflow:hidden;font-size: 26px;line-height: 38px;letter-spacing: -1px;font-weight: 700;color: #fff;}
.mypage .quick_menu_wrap .quick_menu_list{float:left;max-width:860px;margin-top:44px;padding-left:30px;box-sizing:border-box}
.mypage .quick_menu_wrap .quick_menu_list:after{clear:both;display:block;content:''}
.mypage .quick_menu_wrap .quick_menu_list .quick_menu_item{float:left;width:206px;border-left:1px dotted #cfd0d7;text-align:center;box-sizing:border-box;}
.mypage .quick_menu_wrap .quick_menu_list .quick_menu_item:first-child{border-left:0;margin-left: 0;}
.mypage .quick_menu_wrap .quick_menu_list .quick_menu_item .quick_link{display:block;font-size:0}
.mypage .quick_menu_wrap .quick_menu_list .quick_menu_item .quick_link:hover{color:#242428}
.mypage .quick_menu_wrap .quick_menu_list .quick_menu_item .quick_link:hover .qmenu_txt{text-decoration:underline}
.mypage .quick_menu_wrap .quick_menu_list .quick_menu_item .quick_link:before{display:inline-block;vertical-align:middle;content:''}
.mypage .quick_menu_wrap .quick_menu_list .qmemu_box{display:inline-block;margin-left:10px;padding-top:2px;vertical-align:middle;}
.mypage .quick_menu_wrap .quick_menu_list .quick_menu_item .qmenu_tit{font-family:'Pretendard-SemiBold';display:block;font-size:12px;line-height:1;font-weight:700;letter-spacing:-0.5px}
.mypage .quick_menu_wrap .quick_menu_list .quick_menu_item .qmenu_tit:hover{color:#242428}
.mypage .quick_menu_wrap .quick_menu_list .quick_menu_item .qmenu_txt{display:block;margin-top:5px;line-height:1;font-weight:700;color:#fa2828;}
.mypage .quick_menu_wrap .quick_menu_list .quick_menu_item .qmenu_txt .number{font-family:'Pretendard-SemiBold';font-size:20px;font-weight:700}
.mypage .quick_menu_wrap .quick_menu_list .quick_menu_item .qmenu_txt .txt{font-family:'Pretendard-SemiBold';font-size:16px;letter-spacing:-0.5px;line-height:20px}
.mypage .quick_menu_wrap .quick_menu_list .quick_menu_item .qmenu_txt .txt:after{display:inline-block;font-size: 0;content:'';vertical-align: middle;margin-top: -2px;}

/* 마이페이지 > 예매관리 */
.mypage h4{display:block;margin-bottom:15px;font-size:26px;font-family:Pretendard-Medium;line-height:26px}
.mypage h5 span{display:block;height:16px}
.myreserve{overflow:hidden;margin-bottom:30px}
.myreserve:after{display:block;clear:both;content:''}
.mypage .basic_tbl td{vertical-align:top}
.mypage .basic_tbl.basic_tbl_v3 td{vertical-align:middle}
.mypage .basic_tbl.basic_tbl_v10 td{padding: 12px 5px;}
.mypage .basic_tbl.basic_tbl_v3 .disabled td{color:#878d95}
.mypage .basic_tbl .reserve_condition1{float:left;width:65px;color:#fa2828;text-align:center}
.mypage .basic_tbl .reserve_condition2{float:right;width:75px;text-align:center;font-size:12px;font-family:'Roboto',-apple-system,BlinkMacSystemFont,Apple SD Gothic Neo,'Malgun Gothic',Arial,sans-serif}
.mypage .basic_tbl .reserve_condition2 .btn_blank{margin-top:-4px;font-family:'Notosans',-apple-system,BlinkMacSystemFont,Apple SD Gothic Neo,Roboto,Arial,sans-serif}
.mypage .paging+.list_btn{margin-top:30px;padding-top:30px;border-top:1px solid #ecedf2}
.mypage .basic_tbl table{position:relative}
.mypage .basic_tbl table thead th{font-family:'Pretendard-Bold';font-weight:700; padding-top:14px;border-top:1px solid #cfd0d7;background-color:#f8f9fa;color:#62676c;line-height:20px}
.mypage .basic_tbl_type1 table thead th{padding-top:0}
.mypage .basic_tbl table tbody td{font-family:'Pretendard-Regular';color:#242428}
.mypage .basic_tbl table tbody td.no_data{color:#62676c}
.mypage .basic_tbl_v3 table tbody td{padding:14px 4px}
.mypage .help_rcont .basic_tbl_v3 table tbody tr:first-child td{padding:14px 4px}

/* 예매확인/취소 */
.mypage .h3_line+.guide_txt{margin-top:36px;margin-bottom:28px;font-family:'Pretendard-Regular'}
.mypage .h3_line+.guide_txt strong{font-weight:700}
.mypage h5{margin-bottom:10px}
.mypage h5 span{height:16px}
.mypage h5.text_tit{font-family:'Pretendard-Bold';background:none;font-size:16px;color:#242428;line-height:1;letter-spacing:-1px}
.mypage h6.text_tit{font-family:'Pretendard-Medium';margin:30px 0 11px;font-size:14px;color:#242428;line-height:1;letter-spacing:-0.5px}

/* 마이페이지 > 예매관리 > 예매확인/취소 */
.mypage .reserve_cancel table tr td{color: #62676c;}
.mypage .bx_table{margin-top:45px}
.mypage .bx_table.tbl_reserve_info{margin-top:28px}
.mypage .bx_table .layer .layer_text dt{min-width:70px;padding-top:5px;text-align:left}
.mypage .bx_table .layer .layer_text dd{margin-left:80px;padding-top:5px}
.mypage .bx_table .layer .layer_text .fir{padding-top:0}
.mypage .tbl_reserve_info .tit{width:56px;background-position:-385px -392px}
.mypage .tbl_reserve_info .btn_link:hover{text-decoration:underline}
.mypage .tbl_seat_info .tit{width:55px;background-position:-306px -468px}
.mypage .tbl_seat_info td{padding:10px 5px 7px 5px}
.mypage .tbl_coupon_info .tit{width:199px;background-position:-509px -543px}
.mypage .tbl_user_info .tit{width:69px;background-position:-667px -463px}
.mypage .tbl_user_info th, .mypage .tbl_user_info td{padding-left:20px;text-align:left}
.mypage .tbl_etc_info .tit{width:55px;background-position:-610px -463px}
.mypage .tbl_payment_info .tit{width:54px;background-position:-674px -445px}
.mypage .tbl_payment_info tfoot td{font-weight:bold}
.mypage .tbl_refund_info .tit{width:56px;background-position:-668px -427px}
.mypage .tbl_refund_info tfoot td{font-weight:bold}
.mypage .tbl_cancel_info .tit{width:87px;background-position:-515px -375px}
.mypage .tbl_cancel_info td:first-child{border-left:0}
.mypage .tbl_cancel_info td{padding-left:20px;border-left:1px solid #ececec;text-align:left}

.tbl_notice table{width:100%;background:#fff;font-size:13px;color:#62676c;line-height:22px;letter-spacing:-1px;border-top: 1px solid #cfd0d7;border-bottom:1px solid #ecedf2;}
.tbl_notice thead th{background:#f8f9fa;font-weight:400;text-align:center}
.tbl_notice th{font-family:'Pretendard-Medium';padding:10px 18px;font-weight:400;text-align:left;background: #f8f9fa;border-right: 1px solid #ecedf2;}
.tbl_notice td{font-family:'Pretendard-Light';padding:10px 18px;background: #fff;}
.tbl_notice th, .tbl_notice td{border-top: 1px solid #ecedf2;}
.tbl_notice tr:first-of-type th,.tbl_notice tr:first-of-type td{border-top: 0px;}
.tbl_notice th.tc{padding:0;text-align:center}
.tbl_notice li{position:relative;padding-left:6px;font-size: 13px;}
.tbl_notice li:before{position:absolute;top:10px;left:0;width:2px;height:2px;background:#878d95;content:''}
.tbl_notice .type_number li{padding-left:10px;text-indent:-10px}
.tbl_notice .type_number li:before{display:none}
.tbl_notice+.tbl_notice{margin-top:20px}

/* mypage tab */
.mypage_tab{display: table;table-layout: fixed;width: 100%;margin-bottom:30px;}
.mypage_tab li{display: table-cell;height: 48px;line-height: 48px;border: 1px solid #ecedf2;box-sizing: border-box;width: 50%;border-left: 0px;}
.mypage_tab li.on{background: #242428;border-color: #242428;}
.mypage_tab li.on a{color: #fff;font-family:'Pretendard-Regular'}
.mypage_tab li.on a:hover{color: #fff}
.mypage_tab li:first-of-type{border-left: 1px solid #ecedf2;}
.mypage_tab li a{display: block;text-align: center;font-weight: 500;font-family:'Pretendard-Regular'}
.mypage_tab li a:hover{color:#242428}

/* 마이페이지 > 할인혜택 */
.mypage .my_register_box{margin-bottom:28px;padding:19px 0 19px 0;border-radius:2px;background:#ecedf2;font-size:0;text-align:center;box-sizing:border-box}
.mypage .my_register_box .register_txt{display:inline-block;font-size:14px;line-height:17px;color:#242428;vertical-align:middle}
.mypage .my_register_box .register_input{width:413px;height:36px;margin-left:9px;padding:0 10px;border:0;font-size:14px;line-height:36px;color:#242428;letter-spacing:-1px;box-sizing:border-box}
.mypage .my_register_box .register_input::placeholder{color:#a7acb6}
.mypage .my_register_box .btn_full{margin-left:8px;padding:6px 11px;min-width:90px}

.help_rcont .guide_txt .select_seat{position:absolute;top:0;right:0;min-width:115px;padding:6px 11px;color:#242428;text-decoration:none}


/* 쿠폰 사용내역 레이어 팝업 */
.mypage_coupon .basic_tbl .condition_box .ly_coupon_condition{display:none;position:absolute;top:20px;right:0;width:336px;padding:19px 20px 11px;border:1px solid #242428;background:#fff;box-sizing:border-box;z-index:10}
.mypage_coupon .condition_box .ly_coupon_condition .ly_tit{font-size:14px;line-height:1;text-align:left;letter-spacing:-0.5px}
.mypage_coupon .condition_box .ly_coupon_condition .condition_table{margin-top:2px;border-top:1px solid #ecedf2;font-size:13px;text-align:left}
.mypage_coupon .condition_box .ly_coupon_condition .condition_table th,.mypage_coupon .condition_box .ly_coupon_condition .condition_table td{height:30px;padding:0;font-size:13px;line-height:18px;text-align:left}
.mypage_coupon .condition_box .ly_coupon_condition .condition_table tr:first-child th,.mypage_coupon .condition_box .ly_coupon_condition .condition_table tr:first-child td{padding-top:2px}
.mypage_coupon .condition_box .ly_coupon_condition .btn_close{position:absolute;top:11px;right:12px;width:30px;height:30px;background:#fff}
.mypage_coupon .condition_box .ly_coupon_condition .btn_close::before{display:block;overflow:hidden;content:''}

.mypage_coupon .notice_box{margin-top:10px}

.mysort{overflow:hidden;margin-bottom:18px}
.mysort li{float:left}
.mysort li a{font-size:13px;color:#878d95;letter-spacing:-1px}
.mysort li.on a{color:#242428}
.mysort li a:hover{text-decoration:underline}
.mysort li::before{display:inline-block;margin:0 6px;width:1px;height:18px;background:#ecedf2;vertical-align:middle;content:''}
.mysort li:first-child::before{display:none}
.mygift{overflow:hidden;margin-bottom:30px}

/* 마이페이지 > 활동관리 */
/* 마이페이지 > 회원정보관리 */
.mypage .list_btn{margin-top:20px;font-size: 0;}
.mypage .list_btn .btn + .btn{margin-left:6px}
.mypage .list_btn .btn_full,.mypage .list_btn .btn_blank{font-family:'Pretendard-Medium';min-width:124px;vertical-align:middle}
.mypage .list_btn .btn_full,.mypage .list_btn .btn_blank:focus{box-shadow:none}
.mypage .list_btn .callcenter{padding:4px 11px;border-color:#242428;line-height:16px}
.mypage .list_btn .callcenter:hover{background:#fff}
.mypage .mtmwrite_tbl th,.mypage .mtmwrite_tbl td{font-family:'Pretendard-Regular';padding:30px 0 28px 20px;line-height:21px}
.mypage .mtmwrite_tbl td p.fs11_v2.color_gray{margin-top: 4px;}
.mypage_banner{margin:20px 0 0}
.mypage_banner.mypage_banner_type1{margin:55px 0 0}
.mypage .leave_guide{margin-top:20px;text-align:center;line-height:20px}
.mber_cont{padding:81px 30px 0;font-size:0}
.mber_cont .widthdraw_box{display:inline-block;position:relative;width:326px;height:312px;padding:47px 0 40px;background:#f8f9fa;text-align:center;vertical-align:top;box-sizing:border-box}
.mber_cont .widthdraw_box + .widthdraw_box{margin-left:30px}
.mber_cont .widthdraw_box .widthdraw_title{display:inline-block;position:relative;font-size:25px;font-weight:700;line-height:25px;color:#242428}
.mber_cont .widthdraw_box .widthdraw_title::before{position:absolute;top:50%;left:0;transform:translateY(-50%);content:'';}
.mber_cont .widthdraw_box .widthdraw_desc{margin-top:50px;font-size:13px;font-weight:700;line-height:20px;color:#878d95}
.mber_cont .widthdraw_box .btn_full{position:absolute;bottom:40px;left:50%;width:120px;transform:translateX(-50%)}
.mber_cont .widthdraw_box.widthdraw_tickelink .widthdraw_title{padding-left:109px}
.mber_cont .widthdraw_box.widthdraw_payco .widthdraw_title{padding-left:123px}
.gray_box{width:742px;background:#f5f6f9;line-height:80px}
.gray_box dl{overflow:hidden;padding-left:135px}
.gray_box dt{float:left;margin-top: 33px;font-size: 13px;line-height: 13px;padding-right: 7px;position: relative;}
.gray_box dt::after{position: absolute;display: block;content: '';width: 1px;height: 12px;background: #cfd0d7;top: 50%;right: 0;transform: translateY(-50%);}
.gray_box dd{float:left;min-width:316px;font-size:17px;text-align:center;letter-spacing:-1px}
.gray_box dd strong{font-weight: 400;}
.gray_box dd span.color_point{letter-spacing:0}
.gray_box p{font-size:16px;text-align:center}
.mtmwrite_tbl .btn_blank{padding:4px 11px;font-size:13px;font-weight:400;line-height:18px}
.mtmwrite_tbl .btn_blank:focus{box-shadow:none}
.mberdsc{font-family: 'Pretendard-Regular';padding:20px 0 19px;background:#f5f6f9;text-align:center;font-size:16px;font-weight:bold;color:#242428;line-height:28px}
.mberdsc.leave_members{margin-top: 44px;}
.mberdsc em{color:#fa2828}
.mberdsc.v2{margin-top:30px;padding:21px 0;color:#fa2828;font-size:12px;font-weight:bold;line-height:inherit}
.mberguide{margin-top:32px}
.mberguide dt{width:418px;height:19px;margin-bottom:6px;background-position:-323px -1226px}
.mberguide dd{border:1px solid #242428;border-radius:2px}
.mberguide .mberlst{padding:21px 29px 14px;line-height:24px}
.mberguide .mberlst li{font-family: 'Pretendard-Light';padding-left:4px;color:#fa2828;line-height:24px;font-size: 14px;position: relative;}
.mberguide .mberlst li::before{content: '';display: block; position: absolute;width: 2px;height: 2px;top: 12px;left: 0;background: #fa2828;}
.mberguide dd p{padding:25px 29px 24px;background:#f8f9fa;font-size:12px;color:#62676c;letter-spacing:-1px}
.mberguide dd p span{background-position:-127px -177px;width:18px;min-height:18px;vertical-align:middle;margin:-3px 5px 0 0}
.mberguide dd p a{color:#fa2828;text-decoration:underline}
.mberoutbx{margin-top:30px}
.mberoutbx dt{width:316px;height:18px;margin-bottom:6px;background-position:0 -1227px}
.mberoutbx.v2 dt{width:158px;background-position:-500px -392px}
.mberoutbx dd{height:275px;padding:26px;border:1px solid #ecedf2;border-radius:2px;box-sizing:border-box}
.mberoutbx .outbxcon li{font-family: 'Pretendard-Light';padding-left:4px;color:#242428;line-height:24px;font-size: 14px;position: relative;}
.mberoutbx .outbxcon li::before{content: '';display: block; position: absolute;width: 2px;height: 2px;top: 12px;left: 0;background: #242428;}
.mberck{margin-top:20px}
.mberck .checkbox {margin-top: 2px;}
.mberck label{font-family: 'Pretendard-Regular';margin-left:-3px;vertical-align:middle;font-size: 14px;line-height: 16px;}
.mberck + .list_btn{margin-top:60px}
.mberck + .list_btn .btn_full{min-width:228px;padding:13px 11px;font-size:18px;font-weight:700;line-height:28px}
/** // 마이페이지 --------------------------------------- **/

/* 상품권 */
.txt_giftguide{margin:28px 0;color:#242428;font-size:17px;font-weight:700;text-align:center;line-height:40px}
.txt_giftguide + .basic_tbl + .notes2{margin-top:50px}

#wrap_popup #container{margin:0}

/* 이벤트 */
.reveiw_agree{background:#f8f9fa;padding:25px 20px 28px;margin-bottom:15px;color:#242428;font-size: 16px;line-height: 16px;}
.reveiw_agree .agree_detail{font-size:12px;color:#878d95;line-height:18px;margin-top:15px;}
.reveiw_agree .input_block{margin-top:15px}
.reveiw_agree .input_block .checkbox {margin-top: -4px;}
.reveiw_agree .input_block label{font-weight:700;font-size: 14px;line-height: 16px;}


/* 이벤트 페이지 (공통) */
#wrap.event_bridge{min-width:auto}
.event_bridge .contents{position:relative}
.event_bridge .contents img{display:block}


@media only screen and (max-width:420px) {
  .test_cont .tit{font-size:3.5em;margin-top:50px}
  .test_cont .sub_tit{margin:15px 0 10px;font-size:1.5em}
  .tbl_info .btn_txt{display:block;margin:5px 0 0}
  .tbl_info .btn_txt:first-child{margin-top:0}
  .tbl_info .bx_input{display:block}
  .tbl_info .bx_input input{width:100%}
  .sports_test .bx_input input{background-color:#fff}
}

/* 회원탈퇴 (레이어팝업) */
.ly_pop_wrap.ly_member_leave{z-index:200;width:100%;height:100%}
.ly_member_leave .layer{display:block;top:50%;left:50%;z-index:210;width:505px;margin:-182px 0 0 -205px;padding:45px 25px 23px;box-sizing:border-box}
.ly_member_leave .layer .member_leave{font-size: 14px;line-height: 24px;}
.ly_member_leave .layer .txt_deco{color: #fa2828;font-weight:700;}
.ly_member_leave .btn_blank{float:right;width:101px;margin-top:40px}

/*추가*/
.btn_full:hover {color: white !important}
.table-border-bottom{border-bottom: 1px solid #ecedf2}
/*추가 마이페이지 quickMenuIcon*/
.mypage .quick_menu_wrap .quick_menu_list .quick_menu_item .quickMenuIcon {font-size: 46px; color: black}
/*추가 마이페이지 예매디테일*/
.checkbox {width: 18px;height: 18px;border: 1px solid #878d95;border-radius: 50%;background: none;background-color: #fff;box-sizing: border-box}
.checkbox.checked {background: url(../../images/icon/check-circle-fill.svg) center / 20px 20px no-repeat}
span.checkbox.ng-scope{margin-left: 1px}
/*추가*/
.layer_mother .help {
    width: 16px !important;
    height: 16px !important;
    background-image: url(../../images/icon/old-svg.svg) !important;
    background-size: 593.7777777778px 559.1111111111px !important;
    background-position: -568.8888888889px -334.2222222222px !important;
    background-repeat: no-repeat !important;
}