@charset "UTF-8";

.blind {
	overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
}

.btn_move_top {
	visibility: hidden;
	position: fixed;
	bottom: 20px;
	right: 50%;
	margin-right: -640px;
	width: 40px;
	height: 40px;
	border: 1px solid gray !important;
	border-radius: 50% !important;
	background: rgba(255, 255, 255, 0.95) !important;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
	opacity: 0;
	transition: visibility 0.3s linear, opacity 0.3s linear;
	z-index: 1000;
}

.btn_move_top::before {
	display: block;
	width: 24px;
	height: 24px;
	margin: 0 auto;
	background: url('../../images/icon/arrow-up.svg') center/24px no-repeat !important;
	content: '';
}

.btn_move_top:hover, .btn_move_top:focus {
	border-color: black  !important;
	background-color: black  !important;
}

.btn_move_top:hover::before, .btn_move_top:focus::before {
	filter: brightness(0) invert(1);
}

.btn_move_top.is-active {
	visibility: visible;
	opacity: 1;
}

@media screen and (max-width: 1296px) {
	.btn_move_top.is-stuck {
		right: 20px;
		margin-right: 0;
	}
}