@charset "UTF-8";

.paging a.end::after, .paging a.first::after, .paginate .next_more::after, .paginate .pre_more::after {
	width: 24px;
	height: 24px;
	background-image: url(../../images/icon/old-svg.svg);
	background-size: 660px 629px;
	background-position: -144px -414px;
	background-repeat: no-repeat;
}

.paging a.next::after, .paging a.prev::after, .paginate .pre::after, .paginate .next::after, .venue_detail .wrap_bgslide button:hover::before, .venue_detail .wrap_bgslide .next::before, .venue_detail .wrap_bgslide .prev::before
	{
	width: 24px;
	height: 24px;
	background-image: url(../../images/icon/old-svg.svg);
	background-size: 660px 629px;
	background-position: -112px -414px;
	background-repeat: no-repeat;
}
