<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javaclassS8.dao.event.EventDAO">
	<resultMap id="eventResultMap" type="com.spring.javaclassS8.vo.event.EventVO">
		<result property="eventCategory" column="eventCategory" javaType="com.spring.javaclassS8.vo.event.EventVO$EventCategory" 
        typeHandler="com.spring.javaclassS8.typehandler.EventCategoryTypeHandler"/>
    	<result property="status" column="status" javaType="com.spring.javaclassS8.vo.event.EventVO$Status" 
            typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
	</resultMap>

	<!-- 이벤트 전체 목록 가져오기 -->
	<select id="getAllEvents" resultMap="eventResultMap">
    	SELECT * FROM events ORDER BY createdAt DESC
	</select>
	
	<!-- 진행 중인 이벤트만 가져오기 -->
	<select id="getOngoingEvents" resultMap="eventResultMap">
    	SELECT * FROM events WHERE status = 'ONGOING' ORDER BY startDate DESC
	</select>
	
	<!-- 이벤트 아이디로 이벤트 데이터 가져오기 -->
	<select id="getEventById" parameterType="int" resultMap="eventResultMap">
    	SELECT * FROM events WHERE id = #{id}
	</select>
	
	<!-- 이벤트 응모 여부 확인 -->
	<select id="hasParticipated" resultType="boolean">
		SELECT COUNT(*) > 0
   	 	FROM event_participants
    	WHERE eventId = #{eventId} AND memberId = #{memberId} AND status = 'ACTIVE'
	</select>
	
	<!-- 이벤트 컨텐츠 디테일에 작성된 모든 댓글 가져오기 -->
	<select id="getAllEventComments" resultType="com.spring.javaclassS8.vo.event.EventCommentVO">
    	SELECT ec.*, m.email
    	FROM event_comments ec
    	JOIN members m ON ec.memberId = m.id
    	WHERE ec.eventId = #{eventId}
    	ORDER BY ec.createdAt DESC
	</select>
	
	<!-- 이벤트 컨텐츠 디테일에 작성된 댓글 중 status가 active인것만 가져오기 -->
	<select id="getActiveEventComments" resultType="com.spring.javaclassS8.vo.event.EventCommentVO">
	    SELECT ec.*, m.email
	    FROM event_comments ec
	    JOIN members m ON ec.memberId = m.id
	    WHERE ec.eventId = #{eventId} AND ec.status = 'ACTIVE'
	    ORDER BY ec.createdAt DESC
	</select>
	
	<!-- 이벤트 당첨자 발표 리스트 -->
	<select id="getWinnerEvents" resultType="com.spring.javaclassS8.vo.event.WinnerEventVO">
	    SELECT wp.id as winnerPostId, e.eventCategory, e.title, e.startDate, e.endDate
	    FROM winner_posts wp
	    JOIN events e ON wp.eventId = e.id
	    WHERE wp.isPublished = true
	    ORDER BY wp.createdAt DESC
	</select>
	
	<!-- 이벤트 당첨자 발표 디테일 -->
	<select id="getWinnerPostDetail" resultType="com.spring.javaclassS8.vo.event.WinnerPostDetailVO">
		SELECT e.eventCategory, wp.title, wp.content
	    FROM winner_posts wp
	    JOIN events e ON wp.eventId = e.id
	    WHERE wp.id = #{winnerPostId} AND wp.isPublished = true
	</select>
	
	<!-- 이벤트 컨텐츠 디테일에 댓글 달기 -->
	<insert id="insertEventComment">
		INSERT INTO event_comments (eventId, memberId, comment)
		VALUES (#{eventId}, #{memberId}, #{comment})
	</insert>
	
	<!-- 이벤트 응모 처리하기 -->
	<insert id="insertEventParticipant">
		INSERT INTO event_participants (eventId, memberId)
		VALUES (#{eventId}, #{memberId})
	</insert>
	
	<!-- 이벤트 컨텐츠의 댓글 내용 수정 -->
	<update id="updateEventComment">
		UPDATE event_comments
		SET comment = #{comment}, updatedAt = CURRENT_TIMESTAMP
		WHERE id = #{commentId}
	</update>
	
	<!-- 이벤트 컨텐츠의 댓글 삭제 -> event_comments 테이블의 status 필드 데이터 업데이트 -->
	<update id="updateEventCommentStatus">
		UPDATE event_comments
		SET status = #{status}, updatedAt = CURRENT_TIMESTAMP
		WHERE id = #{commentId}
	</update>
	
	<!-- 이벤트 참여 철회 -> event_participants 테이블의 status 필드 데이터 업데이트 -->
	<update id="updateEventParticipationStatus">
		UPDATE event_participants
		SET status = #{status}, cancelledAt = CURRENT_TIMESTAMP
		WHERE eventId = (SELECT eventId FROM event_comments WHERE id = #{commentId})
		AND memberId = (SELECT memberId FROM event_comments WHERE id = #{commentId})
	</update>

</mapper>