@charset "UTF-8";

#eventTitle {
	border-bottom: 1px solid #d2d2d2;
}

#eventTitle input {
	padding-bottom: 20px;
    margin-right: 10px;
    border: none;
    font-size: 20px;
    line-height: 24px;
    vertical-align: middle;
    font-family: 'Pretendard-Regular';
}

#eventTitle input:focus {
    box-shadow: none;
}

.file-upload-info {
	padding: 23px;
}