@charset "UTF-8";

main {
	display: block;
	font-size: 14px;
	letter-spacing: -0.03em;
	color: #242428;
}

.blind, dt, legend, caption {
	overflow: hidden;
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0, 0, 0, 0);
}

.common_container {
	-webkit-box-flex: 1;
	flex: 1;
	padding-bottom: 160px;
}

.event_cont {
	background: #f8f9fa;
}

.common_container.event_cont .inner {
	padding-top: 0;
}

.inner {
	width: 1120px;
	margin: 0 auto;
	position: relative;
}

.event_cont button {
	overflow: visible;
	border: 0;
	background-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	border-radius: 0;
	appearance: none;
	letter-spacing: -0.03em;
}

.page_heading {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	margin-bottom: 46px;
	padding-top: 64px;
}

.page_heading .page_title {
	flex: none;
	background: none;
	font-size: 40px;
	font-family: 'Pretendard-Bold';
	line-height: 40px;
	color: black;
}

.page_heading .page_title+.common_tab.type_underline {
	margin: 0 -10px -3px 0;
}

.common_tab.type_underline .common_tab_list {
	margin: -2px 0 0 -2px;
}

.common_tab_area ul {
	color: #62676c;
	list-style: none;
	padding: 0;
}

.common_tab_list {
	font-size: 0;
}

.common_tab.type_underline .common_tab_item {
	margin: 2px 0 0 2px;
}

.common_tab_item {
	display: inline-block;
}

.common_tab_item li {
	border: 0;
	vertical-align: top;
	padding: 0;
}

.common_tab.type_underline .common_tab_btn[aria-selected=true] {
	color: #242428;
}

.common_tab.type_underline .common_tab_btn {
	position: relative;
	padding: 7px 10px;
	min-height: 40px;
	font-size: 18px;
	font-family: 'Pretendard-Medium';
	line-height: 26px;
	color: #878d95;
}

.common_tab.type_underline .common_tab_btn:hover {
	color: #242428;
}

.common_tab_btn {
	outline: none;
}

.common_tab.type_underline .common_tab_btn[aria-selected=true]::before {
	position: absolute;
	bottom: 4px;
	left: 10px;
	right: 10px;
	height: 2px;
	background: #242428;
	content: "";
}

/*목록보기버튼*/
.list_btn .btn {
	display: inline-block;
	overflow: hidden;
	border-radius: 6px;
	box-sizing: border-box;
}

.list_btn .btn_blank {
	padding: 9px 11px;
	font-size: 14px;
	line-height: 22px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #dcdde1;
	background: #fff;
	color: #242428;
	width: 90px;
	font-family: 'Pretendard-Medium';
}

.list_btn .btn:focus {
	box-shadow: none;
	border: 1px solid black;
}

.btn_blank:not(.disabled):hover {
	border-color: #242428;
	background: #f5f6f9;
}

.list_btn .btn a {
	font-family: 'Pretendard-Regular';
}

/*댓글*/
.event_cont_box .star_review+.list_btn {
	margin: 23px 0 10px;
}

.list_btn {
	overflow: hidden;
	text-align: center;
}

.event_cont_box .star_review+.list_btn>.fl {
	font-family: 'Pretendard-Regular';
	font-size: 14px;
	line-height: 28px;
	font-size: 14px;
}

.event_cont_box .star_review+.list_btn>.fl .fbold {
	font-weight: 700;
}

.color_point {
	color: #fa2828 !important;
}

.mgt7 {
	margin-top: 7px !important;
}

.fl {
	float: left !important;
}

.event_cont_box .star_review+.list_btn>.fr .btn_text2 {
	margin-top: 0;
}

.btn_text2 {
	color: #242428;
	font-size: 14px;
	line-height: 22px;
	text-decoration: underline;
	display: inline-block;
	font-family: 'Pretendard-Regular';
}

.btn_text2:hover {
	color: #242428;
	text-decoration: none;
}

.event_cont_box .star_review+.list_btn>.fr {
	font-size: 14px;
	line-height: 28px;
}

.fr {
	float: right !important;
}

.review_list {
	border-width: 2px 0 1px;
	border-style: solid;
	border-color: #cfd0d7;
}

.event_cont_box .review_list ul {
	margin: 0;
}

.event_cont_box ul {
	overflow: hidden;
}

.review_list ul {
	color: #62676c;
	font-size: 14px;
	list-style: none;
}

.event_cont_box .review_list ul li {
	float: none;
	width: 100%;
	min-height: auto;
	margin: 0;
	padding: 30px 10px 31px;
	font-size: 12px;
	line-height: 18px;
	box-sizing: border-box;
	position: relative;
}

.review_list li:first-child {
	border: 0;
}

.event_cont_box .review_list ul li .review_info {
	overflow: visible;
	margin: 0 0 7px 0;
}

.event_cont_box .review_list ul li .review_info .star_average {
	margin: 0;
}

.review_list li .review_info .star_average {
	float: none;
}

.review_list li .review_info:after {
	display: block;
	clear: both;
	content: '';
}

.review_list li .review_info .star_average dd.review_user {
	font-size: 12px;
	font-family: 'Pretendard-Bold';
	color: #242428;
}

.review_list li .review_info .star_average dd {
	height: 12px;
	line-height: 12px;
	padding-right: 8px;
	letter-spacing: 0;
	vertical-align: top;
}

.review_list li .review_info .star_average dd .review_date {
	font-family: 'Pretendard-SemiLight';
}

.event_cont_box .review_list ul li pre {
	white-space: pre-wrap;
	font-size: 14px;
	letter-spacing: -0.03em;
	color: #242428;
	font-family: 'Pretendard-Regular';
}

#event_comment_list {
	word-break: break-all;
	padding: 0;
}

#event_comment_list li {
	border-bottom: 1px solid #ecedf2;
}

.event_cont_box #comment_validation {
	font-family: 'Pretendard-SemiLight';
	font-size: 12px;
}

.star_review .eventCommentTextarea {
	resize: none;
	font-size: 16px;
}