@charset "UTF-8";

.blind, legend, caption span {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: -9999px;
	width: 1px;
	height: 1px;
	font-size: 1px;
	line-height: 100px;
	white-space: nowrap;
}

.content {
	max-width: 330px;
	padding: 0 0 35px;
	margin: 0 auto;
}

.tit_area {
	padding: 28px 0 17px;
	text-align: center;
	font-family: Pretendard-Light;
}

.h_tit {
	font-size: 15px;
	font-weight: normal;
	color: #222;
	line-height: 20px;
}

input {
	font-family: 'Pretendard-Light';
	font-size: 12px;
	color: #222;
	letter-spacing: -.03em;
}

.inp_bx {
	display: block;
	position: relative;
	width: 100%;
	margin-top: 8px;
}

.tooltip, .tooltip_caps {
	display: none;
	position: absolute;
	top: 44px;
	left: 0;
	z-index: 100;
	padding-top: 5px;
	background: url(../../images/icon/ico_tooltip_arrow.png) no-repeat 9px 0;
}

.tooltip em, .tooltip_caps em {
	display: block;
	padding: 0 10px;
	background: #000;
	font-size: 12px;
	color: #fff;
	line-height: 30px;
}

.inp_bx.is_focus .inp_txt, .inp_bx.is_value .inp_txt {
	padding-right: 42px;
	border-color: #858585;
	color: #222;
}

.inp_txt {
	display: block;
	position: relative;
	padding: 12px 10px;
	border: 1px solid #e6e6e6;
	font-size: 0;
	font-family: 'Pretendard-Light';
}

.inp {
	display: inline-block;
	position: relative;
	z-index: 10;
	width: 100%;
	height: 18px;
	border: 0;
	background: transparent;
	font-size: 14px;
	color: #222;
	line-height: 18px;
	vertical-align: top;
	outline: none;
	border-radius: 0;
}

.inp_bx .btn_del, .inp_bx3 .btn_del {
	position: absolute;
	top: 0;
	right: 0;
	padding: 11px;
	z-index: 10;
}

.error_txt {
	margin-top: 6px;
	font-size: 12px;
	color: #fa2828;
	font-family: 'Pretendard-Light';
}

.error .inp_txt {
	border-color: #f77f81;
}

.inp_bx+.btn_area {
	margin-top: 15px;
}

.btn_full {
	width: 100%;
	height: 50px;
	font-size: 15px;
	line-height: 50px;
	font-family: Pretendard-Medium;
}

.btn_point {
	background: #fa2828;
	border: none;
}

.btn_point:hover {
	background: #fa2828;
}

.btn {
	display: inline-block;
	min-width: 108px;
	color: #fff;
	text-align: center;
	vertical-align: top;
	overflow: visible;
	border: 0;
	border-radius: 0;
	cursor: pointer;
	padding: 0;
}

.btn:focus {
	box-shadow: none;
}

.inp_bx2 {
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid #eeeeee;
}