@charset "UTF-8";

#wrap_popup{height:100%}
#wrap_popup #header{position:relative;height: 60px;line-height: 60px;background:#62676c}
#wrap_popup #header h1{margin:21px 0 0 28px;font-size: 16px;line-height: 18px;color: #fff;background: none;}

#wrap_popup #container{background:#fff;padding:38px 30px 30px;margin:0;min-height:100px;font-size:14px}
#wrap_popup #footer{background:#fff;height:92px;padding-top:0;text-align:center}

.ly_pop{position:fixed;top:15px;left:15px;right:15px;bottom:15px;z-index:210;background:#fff}
.ly_pop .btn_close{position:absolute;top:0;right:0;width:40px;height:40px;background:none}
.ly_pop .btn_close .sp{display:inline-block;overflow:hidden;width:11px;height:11px;background:url(../img/sp.png) no-repeat -407px -167px;line-height:999px}

#wrap_popup #header .receipt_logo{position:absolute;top:13px;right:28px;width:177px;height:20px;background:url(../img/logo_nhnlink_supplier.png) no-repeat;background-size:auto 20px;font-size:0}
#wrap_popup #header .receipt_logo::after{position:absolute;top:50%;right:0;transform:translateY(-50%);content:''}
#wrap_popup h2{padding-bottom:8px;color:#242428;font-size:14px;line-height:17px}
#wrap_popup .tbl{border-top:1px solid #cfd0d7}

#wrap_popup.mpop #container{padding-top:26px}
#wrap_popup.mpop #header strong{display:block;padding:21px 0 0 20px;font-size:15px;background:none;color:#fff}
#wrap_popup.mpop .tbl03 td{padding:27px 10px}
#wrap_popup.mpop .tbl03 td .input,#wrap_popup.mpop .tbl04 td .input{width:100%;box-sizing:border-box}
#wrap_popup.mpop .tbl04 td .input::placeholder{color: #a7acb6;font-size: 14px;}
#wrap_popup.mpop .tbl04 th{position:relative;padding-left:9px;font-weight:normal}
#wrap_popup.mpop .tbl04 th span{position:absolute;top:50%;left:0;margin-top:-3px}
#wrap_popup.mpop .twin_button{margin-top:10px;font-size:0}
#wrap_popup.mpop .twin_button button{display:inline-block;width:101px;height:42px;border-radius:6px;line-height: 42px;font-weight:500;font-size:14px}
#wrap_popup.mpop .twin_button button+button{margin-left:6px}
#wrap_popup.mpop .twin_button button.btn_full{border:1px solid #242428;background:#242428;color:#fff}
#wrap_popup.mpop .twin_button button.btn_blank{border:1px solid #dcded1;background:#fff;color:#242428}
#wrap_popup.mpop .twin_button button.btn_blank span{color:#62676c}

#wrap_popup.sports .basic_tbl table .btn_text{width:60px;padding:0 2px}

#container .block{margin-top:30px}
#container .block .lst_noti{padding-top:17px;border-top:1px solid #ecedf2}
#container .block .lst_noti li+li{margin-top:8px}
#container .block .lst_noti strong{display:block}
#container .tbl table td.fbold{font-weight: 700;}
.tbl table th,#container .tbl table td{border-bottom:1px solid #ecedf2;padding:8px 10px 6px;font-size:14px;line-height:17px}
.tbl table td.td_radio{padding:12px 10px 10px}
.tbl table th{text-align:left;vertical-align:top}
.tbl02 table{width:100%;border-top:1px solid #cfd0d7;border-bottom:1px solid #ecedf2}
.tbl02 table tbody{margin:10px 0}
.tbl02 table tbody th,#container .tbl02 table tbody td{color:#242428;line-height:18px;vertical-align:top;text-align:left}
.tbl02 table tbody th{padding:6px 8px 8px 11px}
.tbl02 table tbody td{padding:0 8px 8px 11px}
.tbl02 table tbody .txt th, #container .tbl02 table tbody .txt td{padding:9px 8px 10px 11px}
.tbl02 table tbody tr:first-child td, #container .tbl02 table tbody tr:first-child th, #container .tbl02 table tbody tr:first-child td{padding-top:17px}
.tbl02 table tbody tr:last-child td, #container .tbl02 table tbody tr:last-child th{padding-bottom:15px}
.tbl02 table tbody .input{border:1px solid #e8eaf1}
.tbl02 table tbody td .selectbox .select{font-size:14px;line-height:26px}

.tbl03 table{width:100%;border-top:1px solid #cfd0d7;border-bottom:1px solid #ecedf2}
.tbl03 table tbody th,.tbl03 table tbody td{padding:27px 0;color:#242428;text-align:left;line-height:20px}
.tbl03 table tbody th{font-size: 13px;}
.tbl03 table tbody .line{background:url(../img/bg_tbl_dot.gif) repeat-x}
.tbl03 table tbody tr:first-child th,.tbl03 table tbody tr:first-child td{border-bottom:1px solid #ecedf2}
.tbl03 table tbody tr:first-child th{font-size:13px;color:#242428}
.tbl03 table tbody tr:first-child td{padding-top:29px;font-size:16px;font-weight:bold;line-height:22px}
.tbl03 table tbody th{color:#242428}
.tbl03.v2{margin-top:30px}
.tbl03.v2 table tbody tr:first-child th,.tbl03.v2 table tbody tr:first-child td{border:0}
.tbl04{border-top:1px solid #cfd0d7}
.tbl04 table th{padding:9px 0;vertical-align:middle}
.tbl04 table th span{width:5px;height:5px;background-position:-361px -15px;vertical-align:middle;margin:0 10px 2px 0}
#container .tbl04 table td{padding:0 10px}
.tbl04 td .input{border-color:#e8eaf1 ;width:270px}
.select_with .select{font-size:14px;line-height:26px}
.select_with .inp_tx{border:1px solid #e8eaf1;vertical-align:top}
.basic_tbl.basic_tbl_v8 .inp_tx{border:1px solid #e8eaf1}

#container .tbl .print_receipt{position:relative}
#container .tbl .print_receipt .btn_blank{position:absolute;top:3px;right:10px;padding:4px 11px;font-size:13px;font-weight:400;line-height:18px;text-align:center}

#container .agree_box{overflow-y:auto;overflow-x:hidden;padding:15px 20px;border:1px solid #ecedf2;font-size:13px;color:#62676c;line-height:22px;letter-spacing:-1px}
#container .agree_box .hexadecimal{list-style-type:decimal;margin-left:13px;*margin-left:23px;*margin-top:10px}
#container .agree_box .hexadecimal li {line-height:22px;font-size:13px}
#wrap_popup #footer{font-size:0}
#wrap_popup #footer .btn{width:101px}
#wrap_popup #footer .btn:hover{color:white}
#wrap_popup #footer .btn + .btn{margin-left:6px}
#wrap_popup #footer .btn + .btn:hover{color:black}

#wrap_popup .pointb_box{margin:-18px 0 28px;border:1px solid #ecedf2;background:#fff;border-radius:2px;}
#wrap_popup .pointb_box.barcode_not_tick_case{border:1px solid #fa2828}
#wrap_popup .pointb_box.barcode_case{text-align:center}
#wrap_popup .pointb_box .inner_txt{text-align:center;padding:20px 50px 0;font-size:12px;line-height:18px}
#wrap_popup .pointb_box .inner_txt.v2{padding:22px 0;line-height:18px}
#wrap_popup .pointb_box .inner_txt span{display:block;overflow:hidden;color:#62676c;font-weight:700;font-size:13px;line-height:18px}
#wrap_popup .pointb_box.barcode_not_tick_case .inner_txt span{color:#fa2828;font-weight:bold}
#wrap_popup .pointb_box .reserve_end{color:#242428;font-weight:bold;font-size:14px}
#wrap_popup .pointb_box .barcode{text-align:center;padding:19px 0}
#wrap_popup .barcode_not_tick_case .inner_txt{padding-bottom:20px}

.lt_noti2 {margin:17px 0 0 0}
.lt_noti2 li{position:relative;padding:0 0 0 10px;color:#878d95;font-size:13px;line-height:18px}
.lt_noti2 li::before{position:absolute;left:0;top:8px;width:4px;height:1px;background-color:#878d95;content:''}
.lt_noti2 a{color:#878d95}
.lt_noti3 {margin:5px 0 22px 0}
.lt_noti3 li{padding-left:8px;text-indent:-8px;color:#878d95;font-size:12px;line-height:20px;letter-spacing:-1px}
.lt_noti3 ul li{padding-left:6px;background:url(../img/bg_dot3.png) no-repeat 0 7px;text-indent:0}
.lt_noti4 {width:400px;margin:17px 0 0 0}
.lt_noti4 li{padding:0 0 0 10px;background:url(../img/bg_dot2.png) no-repeat 1px 7px;color:#878d95;font-size:13px;line-height:18px;letter-spacing:0}
.lt_noti4 a{color:#878d95}
.mypage_account{padding:21px 0 0 0;border-top:1px solid #ecedf2;color:#242428;font-weight:700}
.mypage_account .checkbox.checked{margin-top:-2px}
.psb_pop{float:right;margin-top:-23px;margin-bottom:5px}

/** 회원 **/
#wrap_member,
#wrap_member p,
#wrap_member input,
#wrap_member div,
#wrap_member textarea,
#wrap_member button,
#wrap_member table{font-family:'Notosans',-apple-system,BlinkMacSystemFont,Apple SD Gothic Neo,'Malgun Gothic',Arial,sans-serif}

#wrap_member{min-height:100%;min-width:320px;position:relative}
#wrap_member #header{border-bottom:1px solid #ecedf2;height:41px;line-height:41px;text-align:center/* ;padding-left:16px; */}
#wrap_member #header h1{display:inline-block;vertical-align:middle;margin-top:-5px}
#wrap_member #header h2{/* display:inline;font-size:14px;font-weight:bold;vertical-align:middle; */display:none}
#wrap_member #container{width:580px;margin:0 auto;margin-top:30px; padding-bottom:60px;}
#wrap_member #footer{background:#f8f9fa;border-top:1px solid #ecedf2;padding-top:0;width:100%;height:30px;text-align:right;position:absolute;bottom:0}
#wrap_member #footer p{padding-right:15px;color:#a7acb6;font-size:12px;line-height:30px}
#wrap_member .top_guide_txt{padding:16px 20px 13px;border-bottom:1px solid #ecedf2;background:#f8f9fa;font-size:12px;line-height:17px;color:#242428;text-align:center}
#wrap_member .top_guide_txt .inner{width:410px;margin:0 auto}
#wrap_member .top_guide_txt span{font-weight:bold;font-size:14px}
#wrap_member .top_guide_txt strong{display:block;margin-bottom:5px}
#wrap_member .top_guide_txt_v2{font-size:13px}
#wrap_member .top_guide_txt_v3{background:#fff;padding:20px 0 19px;color:#878d95}
#wrap_member .top_guide_txt_v3 span{display:inline-block;margin-bottom:5px;line-height:20px;font-size:15px;font-weight:bold;color:#242428}
#wrap_member .top_guide_txt_v3 + #container{margin-top:20px}
#wrap_member .top_guide_txt_v4{padding:20px 0 19px;background:#fff;text-align:left}
#wrap_member .top_guide_txt_v5 span{display:block;margin-bottom:8px;line-height:20px;font-size:15px;font-weight:bold;color:#242428}
#wrap_member .top_guide_txt_v5 .inner{width:280px;font-size:14px;text-align:left;line-height:17px}
#wrap_member #container.container_v2{width:auto;max-width:410px}
#wrap_member #container.container_v3{width:auto;max-width:542px}
#wrap_member #container.container_v3 .button{display:block;width:200px;margin:10px auto 0;letter-spacing:-1px;font-weight:normal}

@media screen and (max-width:470px){
#wrap_member #header{min-width:304px;}
#wrap_member #container.container_v2{min-width:290px;max-width:100%;padding:0 15px 60px}
#wrap_member #container.container_v2 button.btn{width:100%;max-width:410px}

#wrap_member #container.container_v2 .login_tab li{width:50%;box-sizing:border-box}
#wrap_member #container.container_v2 .address_info .input_txt_area .input{width:100%;height:33px;box-sizing:border-box}

#wrap_member #container.container_v3{min-width:290px;max-width:100%;padding:0 15px 60px}
#wrap_member #container.container_v3 button.button{width:100%;max-width:410px;}
}

/* 버튼 */
#wrap_member button{cursor:pointer}
#wrap_member button.btn{width:100%;margin-top:6px}
#wrap_member button.btn_full span{color:#62676c;font-size:12px}
#wrap_member button.btn_v3{background:#fff;color:#242428;border:1px solid #242428}

#wrap_member .twin_button{display:flex;overflow:hidden;margin-top:40px;width:100%}
#wrap_member .twin_button button{flex:1;margin:0 3px}
#wrap_member .twin_button button:first-child{margin-left:0}
#wrap_member .twin_button button:last-child{margin-right:0}
/* 로그인 */
#wrap_member .login_tab{overflow:hidden;margin-bottom:34px;width:100%;display:table;table-layout:fixed}
#wrap_member .login_tab li{float:left;background:#fff;border-width:1px 1px 1px 0;*border-width:1px;border-style:solid;border-color:#e8eaf1;width:50%;height:50px;line-height:0;font-weight:500;font-size:13px;box-sizing:border-box}
#wrap_member .login_tab li:first-child{border-width:1px 0 1px 1px}
#wrap_member .login_tab li a{display:block;height:48px;text-align:center;color:#242428;line-height:48px}
#wrap_member .login_tab li.on{background:#242428;border-color:#242428;color:#fff}
#wrap_member .login_tab li.on a{color:#fff;}

#wrap_member .chk_ip{float:left;margin-bottom:17px;}
#wrap_member .chk_ip input[type="checkbox"]{border:0;}
#wrap_member .chk_ip .chb_b{opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";}
#wrap_member .chk_ip .lbl_type{margin-left:-14px;font-weight:bold;}
#wrap_member .chk_ip .lbl_type.on{color:#fa2828;}

#wrap_member .cbx_prove2{float:right;margin-bottom:17px}
#wrap_member .login_area{clear:both}
#wrap_member .input_txt_area{display:block;position:relative;margin-bottom:10px}
#wrap_member .input_txt_area .input{width:100%;height:33px;padding:0 36px 0 10px;border:1px solid #e8eaf1;background:#fff;color:#242428;font-size:14px;box-sizing:border-box;outline:none}
#wrap_member .input_txt_area .input::placeholder{color:#a7acb6}
#wrap_member .input_txt_area input::-ms-clear{display:none}
#wrap_member .input_txt_area button.btn_del{position:absolute;top:50%;transform:translateY(-50%);right:11px;font-size:0}
#wrap_member .login_area .fnd_area{text-align:center;margin-top:12px}
#wrap_member .login_area .fnd_area a{color:#62676c}
#wrap_member .login_area .fnd_area span.bar{color:#e7e9ec;margin:0 4px 0 5px}
#wrap_member .login_area #wrap_member .skyblue_box{border:1px solid #ecedf2;background:#f5f6f9}

#wrap_member .login_guide_txt{border:1px solid #ecedf2;background:#f5f6f9;margin-top:20px;padding:20px 15px 21px;width:378px;color:#62676c;line-height:16px;font-size:12px;}
#wrap_member .login_guide_txt strong{color:#242428;line-height:25px;/*font-weight:normal;*/font-size:13px}
#wrap_member .btn_gender{display:table;table-layout:fixed;overflow:hidden;width:100%;margin-bottom:10px}
#wrap_member .btn_gender label{display:table-cell;position:relative;width:100%;height:33px;padding:0 10px;font-size:13px;color:#a7acb6;line-height:33px;cursor:pointer}
#wrap_member .btn_gender label::before{position:absolute;left:0;top:0;width:100%;height:100%;border:1px solid #e8eaf1;border-right:0;box-sizing:border-box;content:''}
#wrap_member .btn_gender .on{color:#242428}
#wrap_member .btn_gender .on::before{border:1px solid #242428}
#wrap_member .btn_gender .on + label::before{border-left:0;border-right:1px solid #e8eaf1}

/* 티켓 예매확인/취소 */
h5.tit{font-size:12px;margin-bottom:10px}
.basic_tbl td{vertical-align:top}
.basic_tbl .reserve_condition1{float:left;width:50px;color:#319f00;text-align:center}
.basic_tbl .reserve_condition2{float:right;margin-top:-4px}
.basic_tbl.basic_tbl_v2.cancel{margin:8px 0 30px}
.basic_tbl.basic_tbl_v2.cancel td, .basic_tbl.basic_tbl_v2.cancel th{font-size:12px !important;line-height:18px;vertical-align:middle}
.basic_tbl.basic_tbl_v2.cancel td{color:#444444}
.basic_tbl.basic_tbl_v2.cancel table tbody tr:first-child td{padding-top:9px}
.basic_tbl.basic_tbl_v2.cancel tbody td.tl2{padding-left:38px;text-align:left}
.basic_tbl.basic_tbl_v2.cancel tbody td div{position:relative;font-size:12px}
.basic_tbl.basic_tbl_v2.cancel tbody td .tbl_border{position:absolute;top:-10px;*top:-12px;left:-39px;right:-21px;bottom:-7px;*bottom:-4px;border:1px solid red}
.basic_tbl.basic_tbl_v2.cancel tbody td .tbl_border.v2{top:-6px;*top:-13px;bottom:auto;height:139px}
.basic_tbl.basic_tbl_v2.cancel tbody td .num{position:absolute;top:-0px;left:-28px;width:20px;height:16px;z-index:10;padding:2px 0;font-family:Montserrat-R;font-weight:bold;color:#fff;line-height:15px;text-align:center}
.basic_tbl.basic_tbl_v2.cancel tbody td .num{display:inline-block;background:url(../img/sp_help.png) no-repeat -329px 0}

.cancel.list_btn{padding:30px 0;margin:35px 0;background:#ffeaea}
.guide_txt{font-size:12px;letter-spacing:-1px;line-height:18px;color:#878d95;margin:-3px 0 34px}
.guide_txt a{color:#fa2828;text-decoration:underline}

.cancel.list_btn.v2{margin:25px 0 10px;}
.receipt_txt{font-size:16px;color:#242428;letter-spacing:-1px;font-weight:700;line-height: 20px;}

.cancel_tab .n_category1,.cancel_tab .n_category2,.cancel_tab .n_category3,.cancel_tab .n_category4,.cancel_tab .n_category5,.cancel_tab .n_category6{display:inline-block;width:350px;height:44px;background:url(../img/sp_pop.png) no-repeat;font-size:0;line-height:0;vertical-align:top}
.cancel_tab .n_category4,.cancel_tab .n_category6{height:45px}
.cancel_tab{height:44px;margin:26px 0 30px 0}
.cancel_tab li{float:left}
.cancel_tab .n_category1{background-position:0 -118px}
.cancel_tab .n_category2{background-position:-350px -118px}
.cancel_tab .n_category3{background-position:-700px -118px}
.cancel_tab .n_category4{background-position:0 -501px}
/*.cancel_tab .n_category5{width:350px;background-position:-350px -501px}*/
.cancel_tab .n_category6{background-position:-350px -501px}
.cancel_tab .on .n_category1{background-position:0 -164px}
.cancel_tab .on .n_category2{background-position:-350px -164px}
.cancel_tab .on .n_category3{background-position:-700px -164px}
.cancel_tab .on .n_category4{background-position:0 -455px}
/*.cancel_tab .on .n_category5{background-position:-350px -455px}*/
.cancel_tab .on .n_category6{background-position:-350px -455px}
.basic_tbl_v4 + .cancel_tab{margin-top:20px}

/*예매 확인 취소*/
#wrap_popup #header p{margin:5px 0 10px 28px;font-size:12px;color:#e7e7e7}

#wrap_popup .basic_tbl.basic_tbl_v2 td{padding:8px 12px}
#wrap_popup .basic_tbl.basic_tbl_v3.check td{padding:8px 0;vertical-align:middle}
#wrap_popup .basic_tbl.basic_tbl_v3.check td.tl{padding-left:30px;color:#242428}
#wrap_popup .basic_tbl.basic_tbl_v3.check td.tr{padding-right:25px}
#wrap_popup .basic_tbl.basic_tbl_v3.membership td{padding:2px 0;vertical-align:middle}
#wrap_popup .basic_tbl.basic_tbl_v3 td.srch_none{padding:7px 0}
#wrap_popup .basic_tbl .tit{color:#62676c}
#wrap_popup .basic_tbl .cancel a{color:#62676c;text-decoration:underline}
#wrap_popup .basic_tbl .prc_lst{padding:6px 0}
#wrap_popup .basic_tbl .prc_lst li{margin-top:8px;line-height:16px}
#wrap_popup .basic_tbl .prc_lst li:first-child{margin-top:0}
#wrap_popup .basic_tbl .prc_lst a{text-decoration:underline}
#wrap_popup .basic_tbl .prc_lst.type2 a{color:#62676c;text-decoration:none}
#wrap_popup .basic_tbl .prf_lst li{margin-top:22px}
#wrap_popup .basic_tbl .prf_lst li:first-child{margin-top:0}
#wrap_popup .basic_tbl .prf_lst a{color:#62676c;text-decoration:underline}
#wrap_popup .basic_tbl .btn_a{color:#62676c;text-decoration:underline}

#wrap_popup .impt_noti h2{margin-top:34px;font-size:15px}
#wrap_popup .impt_noti h3{margin:30px 0 5px;font-size:12px;color:#242428}
#wrap_popup .impt_noti .basic_tbl td{vertical-align:middle;color:#242428}
#wrap_popup .impt_noti .basic_tbl.basic_tbl_v3 td{padding:8px 0}

/*예매 필수 정보 입력*/
.white_box{border:1px solid #d4d4d4;border-radius:2px}
.white_box table{width:100%}
.white_box .table2.table2_v2 th,.white_box .table2.table2_v2 td{padding:2px 0 2px 20px;border:solid #e1e1e1;border-width:1px 0 0;text-align:left}
.white_box .table2.table2_v2 tr:first-child th,.white_box .table2.table2_v2 tr:first-child td{border:0}
.white_box .selectbox,.white_box .selectbox .select_list{border-color:#bebebe}
.white_box .select{background-position:100% -31px}

/* 티켓 예매확인/취소 */
.sports .basic_tbl_v3 th{padding:10px 0;line-height:18px}
.sports .basic_tbl_v3 tbody td{vertical-align:middle}

/* 예매권 이용조회 (레이어팝업) */
.ly_pop_wrap3.ly_ticket_history{font-size:0;text-align:center}
.bx_layer .ly_pop_place.ly_ticket_history .ico_close{padding:28px}
.bx_layer .ly_pop_place.ly_ticket_history .ico_close::before{display:block;content:''}
.ly_ticket_history:before{display:inline-block;height:100%;vertical-align:middle;content:''}
.ly_ticket_history .wrap_ly_pop{display:inline-block;position:relative;width:910px;margin:0 auto;border:1px solid #ecedf2;text-align:left;vertical-align:middle}
.ly_ticket_history .pop_header{padding:0 19px;line-height:80px;text-align:left}
.ly_ticket_history .top_noti{padding:15px 21px 16px;border-bottom:1px solid #ecedf2;font-size:13px;color:#242428;background-color:#f8f9fa;line-height:22px;letter-spacing:-.5px}
.ly_ticket_history .pop_contents{padding:30px 39px}
.ly_ticket_history form{position:relative}
.ly_ticket_history .bx_input{display:block;border:0}
.ly_ticket_history input{display:block;position:relative;z-index:1;width:691px;padding:10px 10px;border:0;background-color:transparent;-webkit-appearance:none;appearance:none;text-align:center;color:#a7acb6}
.ly_ticket_history .lb_ipt_txt{position:absolute;top:0;left:0;right:130px;bottom:0;width:100%;color:#a7acb6;line-height:40px;text-align:center;font-size:14px}
.ly_ticket_history .btn_full{position:absolute;top:0;right:0;bottom:0;display:block;width:120px;font-size:14px;font-weight:500}
.ly_ticket_history .basic_tbl{overflow-y:auto;max-height:350px;margin-top:22px}
.ly_ticket_history .basic_tbl th{border-bottom:1px solid #cfd0d7;background-color:transparent;font-size:16px;font-weight:400;color:#62676c;line-height:normal;text-align:center;letter-spacing:-.5px}
.ly_ticket_history .basic_tbl td{padding:19px 0;font-size:14px;color:#242428}
.ly_ticket_history .basic_tbl td:first-child{text-align:center}
.ly_ticket_history .basic_tbl table tbody tr:first-child td{padding-top:19px}
.ly_ticket_history .basic_tbl table tbody tr td:first-child{padding:21px 0 17px;font-family:'Roboto',-apple-system,BlinkMacSystemFont,Apple SD Gothic Neo,Roboto,Arial,sans-serif;font-size:14px}
.ly_ticket_history .basic_tbl table tbody tr td:nth-child(3){padding:21px 0 17px;font-family:'Roboto',-apple-system,BlinkMacSystemFont,Apple SD Gothic Neo,Roboto,Arial,sans-serif}

/* 클린예매 서비스 팝업 */
.ly_clean_reserve{position:absolute;z-index:20;width:410px;height:435px;padding:0 20px;border:1px solid #242428;box-sizing:border-box;background-color:#fff;font-weight:normal;text-align:center}
.ly_clean_reserve .sp{display:block}
.ly_clean_reserve .pop_tit{display:block;padding:15px 0;border-bottom:1px solid #ecedf2;color:#1aa8bb;font-size:14px;line-height:22px}
.ly_clean_reserve .pop_contents .dsc{margin-top:10px;color:#62676c;font-size:14px;line-height:17px}
.ly_clean_reserve .img_dsc{width:373px;height:256px;margin-top:20px;margin-left:-5px;background-image:url(../img/sports/clean_reserve_info.jpg);background-size:100% auto;font-size:0}
.ly_clean_reserve .lst_dsc{margin-top:11px;padding-left:30px;text-align:left}
.ly_clean_reserve .lst_dsc li{font-size:13px;line-height:22px;color:#62676c;letter-spacing:-1px}
.ly_clean_reserve .lst_dsc li:first-child{margin-top:0}
.ly_clean_reserve .btn_close{position:absolute;top:18px;right:20px;border:0;background-color:transparent;cursor:pointer}

/* 예매페이지 > 팝업 Table UIO */
#wrap_popup .pop_tbl_type .tit{border-bottom:0}
.pop_tbl_type + .pop_tbl_type{margin-top:46px}
.pop_tbl_type .bx_tbl{border:1px solid #c7c7c7;border-left:0;border-right:0}
.pop_tbl_type table{width:100%}
.pop_tbl_type th{padding:9px 11px;border-top:1px solid #ececec;background-color:#f8f8f8;font-size:12px;font-weight:normal;color:#62676c;line-height:18px;letter-spacing:-.5px;text-align:left;vertical-align:top}
.pop_tbl_type td{padding:9px 19px;border-top:1px solid #ececec;line-height:18px;vertical-align:top}
.pop_tbl_type tr:first-child th, .pop_tbl_type tr:first-child td{border-top:0}
.pop_tbl_type .txt_color{color:#fa2828}
.pop_tbl_type .txt_color2{color:#878d95}
.pop_tbl_type .txt_color3{color:#fa2828}
.pop_tbl_type.thead_type th,
.pop_tbl_type.thead_type td{text-align:center;vertical-align:middle}
.pop_tbl_type del{color:#878d95}
.lst_noti li{font-size:12px;line-height:18px;letter-spacing:-1px;color:#878d95}

/* 티켓예매내역 */
.pop_reserve_history{position:relative}
.pop_reserve_history .barcode_area{display:inline-block;position:relative;margin:20px 0 19px}
.pop_reserve_history .barcode_status{position:absolute;top:0;left:0;width:100%;background: rgba(255, 255, 255, 0.9);}
.pop_reserve_history .barcode_status .status_txt{font-size:16px;color:#878d95;line-height:60px}
#wrap_popup .pop_reserve_history .bx_info h2{border-bottom-color:#c7c7c7}
.pop_reserve_history .bx_info{margin-top:43px;padding-bottom:7px;border-bottom: 1px solid #c7c7c7}
.pop_reserve_history .lst_noti strong{display:block;margin-bottom:3px;font-size:12px;color:#878d95}
.pop_reserve_history .reserve_cancel,.pop_reserve_history .reserve_hold{position:absolute;top:26px;right:6px;padding:12px 40px;border:1px solid #fa2828;font-size:30px;color:#fa2828;line-height:1;transform:rotate(-15deg)}
.pop_reserve_history .reserve_cancel:before,.pop_reserve_history .reserve_hold:before{position:absolute;top:2px;right:2px;bottom:2px;left:2px;border:1px solid #fa2828;content:''}
.pop_reserve_history.barcode .reserve_cancel{top:220px;right:41px}
.pop_reserve_history.barcode .reserve_hold{top:220px;right:41px}
.pop_reserve_history .bx_barcode_type{border-bottom:1px solid #ecedf2}
.pop_reserve_history .bx_barcode_type .tit{position:relative;margin-bottom:-8px}
.pop_reserve_history .bx_barcode_type .tit:after{position:absolute;left:0;right:0;bottom:-14px;background:#fff;width:100%;height:13px;content:""}
.pop_reserve_history .bx_barcode_type .lst_noti{padding-bottom:10px;border-bottom:1px solid #ecedf2}
.pop_barcode .reserve_cancel{top:212px}
.pop_barcode .reserve_hold{top:212px}
.pop_reserve_history.barcode_none .reserve_cancel{top:166px;right:47px}
.pop_reserve_history.barcode_none .reserve_hold{top:166px;right:47px}

.pop_reserve_history .bx_barcode_type > span{line-height:18px;letter-spacing:-1px}
.pop_reserve_history .bx_barcode_type > span b{display:block;margin:-10px 0 -14px;padding-top:10px;border-top:1px solid #ecedf2;font-size:12px;color:#878d95}

/* 시설 마이페이지 > 예매한 티켓정보 */
.mypage_detail .bx_table{margin-top:55px;font-size:14px}
.mypage_detail .bx_table:first-of-type{margin-top:0}
.mypage_detail .bx_table .tit{margin-bottom:20px;font-size:16px;font-weight:400;color:#242428;line-height:19px;letter-spacing:-.5px}
.mypage_detail .bx_table .disabled td{color:#a7acb6}
.mypage_detail .tbl_type th{height:48px;box-sizing:border-box}
.mypage_detail .tbl_type td{height:48px;padding-bottom:10px;box-sizing:border-box}
.mypage_detail .tbl_type.thead_add td{padding:10px 5px}
.mypage_detail .tbl_reserve_info .btn_link{display:inline-block;vertical-align:middle}
.mypage_detail .tbl_reserve_info .btn_link3:hover{text-decoration:underline}
.mypage_detail .btn.btn_callcenter{padding:3px 0;cursor:default}
.mypage_detail .tbl_user_info .tbl_type th, .mypage_detail .tbl_user_info .tbl_type td{padding-left:20px;text-align:left}
.mypage_detail .tbl_payment_info tfoot td{font-weight:700;font-size:16px}
.mypage_detail .tbl_refund_info tfoot td{font-weight:700;font-size:16px}
.mypage_detail .refund_info tfoot td{font-weight:700;font-size:16px}
.mypage_detail .tbl_cancel_info td:first-child{border-left:0;border-right:1px solid #ecedf2}
.mypage_detail .tbl_cancel_info td:first-child + td ~ td{border-left:1px solid #ecedf2}
.mypage_detail .tbl_cancel_info td{padding:10px 19px 10px;text-align:left}
.mypage_detail .tbl_cancel_info td .fbold{display:inline-block;line-height:16px;margin-top:-4px}
.mypage_detail .tbl_add_info .elp{color:#242428}
.mypage_detail .tbl_add_info .elp .tit{font-size:14px}

/* 회원 배경색 */
.common_container.mem_cont{background: #faf9fa;}
