@charset "UTF-8";

#wrap_popup{height:100%}
#wrap_popup #header{position:relative;height: 60px;line-height: 60px;background:#62676c}
#wrap_popup #header h1{margin:21px 0 0 28px;font-size: 16px;line-height: 18px;color: #fff;background: none;}

#wrap_popup #container{background:#fff;padding:38px 30px 30px;margin:0;min-height:100px;font-size:14px}
#wrap_popup #footer{background:#fff;height:92px;padding-top:0;text-align:center}

.ly_pop{position:fixed;top:15px;left:15px;right:15px;bottom:15px;z-index:210;background:#fff}
.ly_pop .btn_close{position:absolute;top:0;right:0;width:40px;height:40px;background:none}
.ly_pop .btn_close .sp{display:inline-block;overflow:hidden;width:11px;height:11px;background:url(../img/sp.png) no-repeat -407px -167px;line-height:999px}

#wrap_popup #header .receipt_logo{position:absolute;top:13px;right:28px;width:177px;height:20px;background:url(../img/logo_nhnlink_supplier.png) no-repeat;background-size:auto 20px;font-size:0}
#wrap_popup #header .receipt_logo::after{position:absolute;top:50%;right:0;transform:translateY(-50%);content:''}
#wrap_popup h2{padding-bottom:8px;color:#242428;font-size:14px;line-height:17px}
#wrap_popup .tbl{border-top:1px solid #cfd0d7}

#wrap_popup.mpop #container{padding-top:26px}
#wrap_popup.mpop #header strong{display:block;padding:21px 0 0 20px;font-size:15px;background:none;color:#fff}
#wrap_popup.mpop .tbl03 td{padding:27px 10px}
#wrap_popup.mpop .tbl03 td .input,#wrap_popup.mpop .tbl04 td .input{width:100%;box-sizing:border-box}
#wrap_popup.mpop .tbl04 td .input::placeholder{color: #a7acb6;font-size: 14px;}
#wrap_popup.mpop .tbl04 th{position:relative;padding-left:9px;font-weight:normal}
#wrap_popup.mpop .tbl04 th span{position:absolute;top:50%;left:0;margin-top:-3px}
#wrap_popup.mpop .twin_button{margin-top:10px;font-size:0}
#wrap_popup.mpop .twin_button button{display:inline-block;width:101px;height:42px;border-radius:6px;line-height: 42px;font-weight:500;font-size:14px}
#wrap_popup.mpop .twin_button button+button{margin-left:6px}
#wrap_popup.mpop .twin_button button.btn_full{border:1px solid #242428;background:#242428;color:#fff}
#wrap_popup.mpop .twin_button button.btn_blank{border:1px solid #dcded1;background:#fff;color:#242428}
#wrap_popup.mpop .twin_button button.btn_blank span{color:#62676c}

#wrap_popup.sports .basic_tbl table .btn_text{width:60px;padding:0 2px}

#container .block{margin-top:30px}
#container .block .lst_noti{padding-top:17px;border-top:1px solid #ecedf2}
#container .block .lst_noti li+li{margin-top:8px}
#container .block .lst_noti strong{display:block}
#container .tbl table td.fbold{font-weight: 700;}
.tbl table th,#container .tbl table td{border-bottom:1px solid #ecedf2;padding:8px 10px 6px;font-size:14px;line-height:17px}
.tbl table td.td_radio{padding:12px 10px 10px}
.tbl table th{text-align:left;vertical-align:top}
.tbl02 table{width:100%;border-top:1px solid #cfd0d7;border-bottom:1px solid #ecedf2}
.tbl02 table tbody{margin:10px 0}
.tbl02 table tbody th,#container .tbl02 table tbody td{color:#242428;line-height:18px;vertical-align:top;text-align:left}
.tbl02 table tbody th{padding:6px 8px 8px 11px}
.tbl02 table tbody td{padding:0 8px 8px 11px}
.tbl02 table tbody .txt th, #container .tbl02 table tbody .txt td{padding:9px 8px 10px 11px}
.tbl02 table tbody tr:first-child td, #container .tbl02 table tbody tr:first-child th, #container .tbl02 table tbody tr:first-child td{padding-top:17px}
.tbl02 table tbody tr:last-child td, #container .tbl02 table tbody tr:last-child th{padding-bottom:15px}
.tbl02 table tbody .input{border:1px solid #e8eaf1}
.tbl02 table tbody td .selectbox .select{font-size:14px;line-height:26px}

.tbl03 table{width:100%;border-top:1px solid #cfd0d7;border-bottom:1px solid #ecedf2}
.tbl03 table tbody th,.tbl03 table tbody td{padding:27px 0;color:#242428;text-align:left;line-height:20px}
.tbl03 table tbody th{font-size: 13px;}
.tbl03 table tbody .line{background:url(../img/bg_tbl_dot.gif) repeat-x}
.tbl03 table tbody tr:first-child th,.tbl03 table tbody tr:first-child td{border-bottom:1px solid #ecedf2}
.tbl03 table tbody tr:first-child th{font-size:13px;color:#242428}
.tbl03 table tbody tr:first-child td{padding-top:29px;font-size:16px;font-weight:bold;line-height:22px}
.tbl03 table tbody th{color:#242428}
.tbl03.v2{margin-top:30px}
.tbl03.v2 table tbody tr:first-child th,.tbl03.v2 table tbody tr:first-child td{border:0}
.tbl04{border-top:1px solid #cfd0d7}
.tbl04 table th{padding:9px 0;vertical-align:middle}
.tbl04 table th span{width:5px;height:5px;background-position:-361px -15px;vertical-align:middle;margin:0 10px 2px 0}
#container .tbl04 table td{padding:0 10px}
.tbl04 td .input{border-color:#e8eaf1 ;width:270px}
.select_with .select{font-size:14px;line-height:26px}
.select_with .inp_tx{border:1px solid #e8eaf1;vertical-align:top}
.basic_tbl.basic_tbl_v8 .inp_tx{border:1px solid #e8eaf1}

#container .tbl .print_receipt{position:relative}
#container .tbl .print_receipt .btn_blank{position:absolute;top:3px;right:10px;padding:4px 11px;font-size:13px;font-weight:400;line-height:18px;text-align:center}

#container .agree_box{overflow-y:auto;overflow-x:hidden;padding:15px 20px;border:1px solid #ecedf2;font-size:13px;color:#62676c;line-height:22px;letter-spacing:-1px}
#container .agree_box .hexadecimal{list-style-type:decimal;margin-left:13px;*margin-left:23px;*margin-top:10px}
#container .agree_box .hexadecimal li {line-height:22px;font-size:13px}
#wrap_popup #footer{font-size:0}
#wrap_popup #footer .btn{width:101px}
#wrap_popup #footer .btn:hover{color:white}
#wrap_popup #footer .btn + .btn{margin-left:6px}
#wrap_popup #footer .btn + .btn:hover{color:black}

#wrap_popup .pointb_box{margin:-18px 0 28px;border:1px solid #ecedf2;background:#fff;border-radius:2px;}
#wrap_popup .pointb_box.barcode_not_tick_case{border:1px solid #fa2828}
#wrap_popup .pointb_box.barcode_case{text-align:center}
#wrap_popup .pointb_box .inner_txt{text-align:center;padding:20px 50px 0;font-size:12px;line-height:18px}
#wrap_popup .pointb_box .inner_txt.v2{padding:22px 0;line-height:18px}
#wrap_popup .pointb_box .inner_txt span{display:block;overflow:hidden;color:#62676c;font-weight:700;font-size:13px;line-height:18px}
#wrap_popup .pointb_box.barcode_not_tick_case .inner_txt span{color:#fa2828;font-weight:bold}
#wrap_popup .pointb_box .reserve_end{color:#242428;font-weight:bold;font-size:14px}
#wrap_popup .pointb_box .barcode{text-align:center;padding:19px 0}
#wrap_popup .barcode_not_tick_case .inner_txt{padding-bottom:20px}

.lt_noti2 {margin:17px 0 0 0}
.lt_noti2 li{position:relative;padding:0 0 0 10px;color:#878d95;font-size:13px;line-height:18px}
.lt_noti2 li::before{position:absolute;left:0;top:8px;width:4px;height:1px;background-color:#878d95;content:''}
.lt_noti2 a{color:#878d95}
.lt_noti3 {margin:5px 0 22px 0}
.lt_noti3 li{padding-left:8px;text-indent:-8px;color:#878d95;font-size:12px;line-height:20px;letter-spacing:-1px}
/* .lt_noti3 ul li{padding-left:6px;background:url(../img/bg_dot3.png) no-repeat 0 7px;text-indent:0} */
.lt_noti4 {width:400px;margin:17px 0 0 0}
/* .lt_noti4 li{padding:0 0 0 10px;background:url(../img/bg_dot2.png) no-repeat 1px 7px;color:#878d95;font-size:13px;line-height:18px;letter-spacing:0} */
.lt_noti4 a{color:#878d95}
.mypage_account{padding:21px 0 0 0;border-top:1px solid #ecedf2;color:#242428;font-weight:700}
.mypage_account .checkbox.checked{margin-top:-2px}
.psb_pop{float:right;margin-top:-23px;margin-bottom:5px}

/* 티켓예매내역 */
.pop_reserve_history{position:relative}
#wrap_popup .pop_reserve_history .bx_info h2{border-bottom-color:#c7c7c7}
.pop_reserve_history .bx_info{margin-top:43px;padding-bottom:7px;border-bottom: 1px solid #c7c7c7}
.pop_reserve_history .lst_noti strong{display:block;margin-bottom:3px;font-size:12px;color:#878d95}
.pop_reserve_history .reserve_cancel,.pop_reserve_history .reserve_hold{position:absolute;top:26px;right:6px;padding:12px 40px;border:1px solid #fa2828;font-size:30px;color:#fa2828;line-height:1;transform:rotate(-15deg)}
.pop_reserve_history .reserve_cancel:before,.pop_reserve_history .reserve_hold:before{position:absolute;top:2px;right:2px;bottom:2px;left:2px;border:1px solid #fa2828;content:''}
.pop_barcode .reserve_cancel{top:212px}
.pop_barcode .reserve_hold{top:212px}

.pop_reserve_history .bx_barcode_type > span{line-height:18px;letter-spacing:-1px}
.pop_reserve_history .bx_barcode_type > span b{display:block;margin:-10px 0 -14px;padding-top:10px;border-top:1px solid #ecedf2;font-size:12px;color:#878d95}
